/*
[name]蓝[/name]
[iconbgcolor]#0053B9[/iconbgcolor]
Kejian.TV 简易版
*/

body { background: #FFF url(bgimg.jpg) no-repeat 50% 40px; }
#nv { background-image: url(nv.png); }
	#nv li { background-image: url(nv_a.png) !important; }
	#nv li.a { padding-right: 4px; background: #FFF url(nv_a.png) no-repeat 100% 100%; }
		#nv li.a a, #nv li.a a:hover { background: #EEE url(nv_a.png) no-repeat 0 -33px; color: #369 !important; }
.ct2_a, .ct3_a { background-color: #FFF; }
#core_logo_img_a{display:block;width:180px;overflow:hidden;}