<div class="__flo">
  <footer>
    <div class="footer-content">
      <span class="psvr_foot">版权所有 <span class="psvr_en">&copy;</span> 2012 Kejian.TV 课件交流系统.</span>
      <ul class="psvr_footul">
        <li>
          <a href="/">返回首页</a>
        </li>
        <li>
          <a href="/tour/">功能简介</a>
        </li>
        <li>
          <a href="/stories/">开发博客</a>
        </li>
        <li>
          <a href="/blog">关于我们</a>
        </li>
        <li>
          <a href="/support">法律声明</a>
        </li>
        <li class="noslash">
          <a href="/active_admin">团队后台</a>
        </li>
      </ul>
    </div>
  </footer>
</div>