<% content_for :body_style do %>background: url(<%=asset_path('grey.jpg')%>) repeat scroll 0 0 #333333;<% end %>
<div class="__sdk">
  <footer>
    <div class="wrapper">
      <p class="title">版权所有 <span class="en">&copy;</span> 2012 <a href="http://<%=Setting.ktv_domain%>">Kejian.TV</a> 课件交流系统. 课件著作权为原作者所有.</p>
      <p class="links"><a href="#">关于我们</a> <a href="#">技术细节</a> <a href="/welcome/legal">法律声明</a> <a href="#">隐私政策</a> <a href="/active_admin">团队后台</a></p>
    </div>
  </footer>
</div>