<div id="footer">
<p>
<a href="http://wiki.ibeike.com/index.php/iBeiKe%E5%9B%A2%E9%98%9F" target="_blank">关于我们</a> |
<a href="http://team.ibeike.com" target="_blank">联系我们</a>
</p>
           <p>&copy;iBeiKe <%= Time.now.year %> All Rights Reserved</p>
  </div>