/*精英页*/
#eliteNav{
  margin-top:20px;
}
.eliteNav{
   height:124px;
   margin: 0 auto;
   width: 950px;
}
.eliteNav a{
  display:block;
  height:124px;
}
.eliteContent{
  padding:20px 30px 30px 30px;
}
.eliteContentInfo{
  margin-top:20px;
  float:left;
}
.elitePeople{
  width:247px;
  height:89px;
  padding:15px;
  background:#f7fcfe;
  border:1px solid #dcf5fe;
  overflow:hidden;
}

.leftLogo {
 width:50px;
 float:left;
}
.leftLogo img{
  width:50px;
  height:50px;
}
.rightContent{
 float:left;
 margin-left:10px;
 display:inline;
 
}
.rightContent h6{
  
}
.rightContent h6 a{
  display:blcok;
  height:22px;
}
.rightContent p{
 width:186px;
 font-size:12px;
 height:42px;
 overflow:hidden;
}
.rightContent details{
  display:none;
}

/*求助专家*/
.expertContentInfo{
  margin-top:20px;
  float:left;
}
.expertPeople{
  width:391px;
  height:146px;
  padding:20px;
  background:#f7fcfe;
  border:1px solid #dcf5fe;
  overflow:hidden;
}
.expertLeftLogo {
 width:100px;
 float:left;
}
.expertLeftLogo img{
  width:98px;
  height:98px;
  border:1px solid #ccc;
}
.expertRightContent{
 float:left;
 margin-left:10px;
 display:inline;
}
.expertRightContent h6{
  height:22px;
}
.expertRightContent p{
 width:280px;
 font-size:12px;
 height:120px;
 line-height:20px;
 overflow:hidden;
}
.eliteCurrent{
  background:#edfaff;
  border:1px solid #bddeea;
}