<img src="http://wendao.zhaopin.com/assets/pp2.png" border="0" />&nbsp;<a href="http://wendao.zhaopin.com" target="_blank" style="color:#049900;font-size:12px;">未读通知(<%=current_user.notifications.nondeleted.unread.count%>)</a>
