<% content_for :armpit do %>
  <%= stylesheet_link_tag "about" %>
<% end %>
<div id="home" class="__abt">
	<div id="main">
		<h1><span>Brick by brick </span><a title="Services &amp; Biography!" href="#about">课件交流系统</a> <em>We make it happen.</em></h1>
		<ul>
			<li><a title="Portfolio &amp; Screenshots" href="#design"><em>工程师</em> 潘旻琦</a></li>
			<li><a title="Products &amp; Downloads" href="#develop"><em>工程师</em> 刘理博</a></li>
			<li><a title="Training &amp; Advice" href="#consult"><em>工程师</em> 刘晟源</a></li>
			<li><a title="Contact &amp; Follow" href="#contact"><em>设计师</em> 吴晓斌</a></li>
			<li><a title="Books &amp; Articles" href="#writing"><em>运营</em> 邱亚飞</a></li>
			<li><a title="Podcasts &amp; Conferences" href="#speaking"><em>运营</em> 林小军</a></li>
		</ul>
		<p id="news"><em>Guess What:</em> You can buy my new <a title="Book Details" href="#writing_dd">book</a> Distinctive Design on <a title="Buy this Book" href="http://www.amazon.com/dp/1119992982/">Amazon</a>!<a id="close" title="Remove this banner." href="#home">[X]</a></p>
	</div>
	<div id="primary">
		<div id="about">
			<h2><em>Who is</em> Alex?</h2>
			<p>I am an <dfn title="I have won five awards to date.">award</dfn> winning 28 year old web professional from <dfn title="Location: Brighton, UK.">England</dfn> who designs, develops, consults, speaks and writes about building high quality, <dfn title="There's nothing worse than a poorly made design.">accessible</dfn> websites.</p>
			<h3>Services</h3>
			<ol class="checks">
				<li class="star5"><dfn title="I can produce clean, fresh, professional and unique single page, multi-paged and device orientated sites.">Website Design</dfn></li>
				<li class="star5"><dfn title="I can audit your existing site, produce a detailed report and help you tune-up, refresh and optimize your design.">Website Tune-Up</dfn></li>
				<li class="star5"><dfn title="I can run ability explicit tests or validate against accessibility guidelines and legal requirements.">Accessibility Audits</dfn></li>
				<li class="star5"><dfn title="I can undertake usability studies, user-experience audits and check against patterns and conventions.">Usability Tests (UX)</dfn></li>
				<li class="star5"><dfn title="I can write well researched content, articles, template documents and blog posts based on your needs.">Content Writing</dfn></li>
				<li class="star4"><dfn title="I can use a mixture of consultation, analysis, briefs and research to help you define goals or evolve your site.">Online Strategy</dfn></li>
				<li class="star4"><dfn title="I can produce wireframes, test cases, concepts, working models, sitemaps and prototypes to plan your site.">Project Plans (IA)</dfn></li>
				<li class="star3"><dfn title="I can give your website increased public awareness through organic SEO and social networking.">Social Marketing</dfn></li>
			</ol>
			<h3>Experience</h3>
			<p>I am a <dfn title="I work from home.">freelancer</dfn> and <dfn title="Through books and the Internet.">self-taught</dfn> Web professional with 14 years of experience in the field. And while I work in the web industry, I'm also skilled in <dfn title="Built software between 1998 and 2003.">software</dfn> development.</p>
			<h3>Education</h3>
			<p>I graduated college with a <abbr title="Intermediate Level (Grade: Merit).">GNVQ</abbr> and <abbr title="Double Award Level (Grade: AA).">AVCE</abbr> in Health and Social care with extra <dfn title="AS Level (Grade: Pass).">Psychology</dfn>. Using this unique background I'll improve websites with your clients in mind.</p>
			<h3>Languages</h3>
			<ol class="checks">
				<li class="star5"><dfn title="I can produce semantically rich, clean, W3C valid (x)HTML code which makes use of microformats.">(x)HTML</dfn></li>
				<li class="star5"><dfn title="I can build RSS and Atom feeds, Sitemaps, OpenSearch files, DCMI-RDFa, Geo, PICS Labels and WML files.">XML</dfn></li>
				<li class="star4"><dfn title="I can produce W3C valid Cascading StyleSheets, which are compatible with all of the major web browsers.">CSS</dfn></li>
				<li class="star4"><dfn title="I can develop Windows software applications, PAD shareware submissions and NSIS / InnoSetup scripts.">VB.NET</dfn></li>
				<li class="star4"><dfn title="I can create WinHelp, CHM and MAML support files with HTML, PDF, DOC and RTF formatted documentation.">WinHelp</dfn></li>
				<li class="star3"><dfn title="I can write and manage gracefully degrading scripts and can make use of the jQuery JavaScript framework.">JavaScript</dfn></li>
				<li class="star3"><dfn title="I can install and configure CMS engines, web packages and produce custom PayPal IPN processing scripts.">PHP &amp; mySQL</dfn></li>
				<li class="star3"><dfn title="I can produce presentations, galleries, offline Flash portfolios and interactive Flash website designs!">SWiSHMax</dfn></li>
			</ol>
			<h3>Community</h3>
			<p>As well as helping people on the <dfn title="I'm one of the top contributors.">SitePoint</dfn> forums, I'm a member of <abbr title="The Guild of Accessible Web Designers.">GAWDS</abbr>, <abbr title="International Webmasters Association.">IWA</abbr>, <abbr title="Usability Professionals Association.">UPA</abbr> and the <abbr title="Web Standards Group.">WSG</abbr> promoting industry best practices and good accessibility on the web.</p>
			<h3>Hobbies</h3>
			<p>In my spare time I enjoy watching <dfn title="Buffy the Vampire Slayer, Angel, Charmed, Supernatural, Ghost Whisperer, The Vampire Diaries and The X-Files.">TV</dfn> &amp; <dfn title="Lord of the Rings, Kill Bill, Donnie Darko, Pan's Labyrinth, Sin City, Stardust, Dogma, The Neverending Story, Lethal Weapon 1-4 and Who Framed Roger Rabbit.">Movies</dfn>, playing <dfn title="Watching Wimbledon &amp; Playing for fun.">Tennis</dfn> and <dfn title="I played professionally for a short time!">Chess</dfn> and listening to <dfn title="Currently subscribed to too many shows!">Podcasts</dfn>. If you want to know more about me or my business, just let me know.</p>
			<h3>Resources</h3>
			<ul class="website"><li><a title="My Resume" href="resume.pdf">My Resume (PDF)</a></li></ul>
		</div>
		<div id="design">
			<h2><em>Website</em> Design</h2>
			<p>If you want a brand new <dfn title="Design &amp; Development.">website</dfn> or want to <dfn title="Tweaks &amp; Improvements.">refresh</dfn> an existing one, I can make you a site that's crafted with care, and meets the highest level of <dfn title="W3C Recommendations &amp; Other Guidelines.">standards</dfn> you can expect.</p>
			<h3>Web Portfolio</h3>
			<ul class="category">
				<li><a title="This Websites Evolution" href="#design_hitechy">HiTechy Website</a></li>
				<li><a title="A Unique Web Design" href="#design_onepage">One Page Layout</a></li>
				<li><a title="A Clean Blog Layout" href="#design_blog">Blogging Design</a></li>
				<li><a title="My Previous Website" href="#design_ad2k">AD2K-Ware Studios</a></li>
			</ul>
			<h3>Print Portfolio</h3>
			<ul class="category">
				<li><a title="A PDF Manual Layout" href="#design_ebook">eBook Template</a></li>
				<li><a title="Rough Idea Wireframes" href="#design_sketch">Design Sketches</a></li>
				<li><a title="Offline Documentation" href="#design_helpfile">Software Help Files</a></li>
			</ul>
			<h3>Flash Portfolio</h3>
			<ul class="category">
				<li><a title="Corporate Presentation" href="#design_knpromo">KillaNet Promo Video</a></li>
				<li><a title="Animated Flash Cartoon" href="#design_xtvideo">eXtreme Adventures</a></li>
				<li><a title="April Fools Day Fun" href="#design_joke">Web Practical Joke</a></li>
			</ul>
		</div>
		<div id="design_hitechy">
			<h2><em>HiTechy</em> Website</h2>
			<p>This very website has undergone many changes to evolve into what you see today. It therefore makes sense to discuss the design work I've done here on my homepage.</p>
			<h3>Details</h3>
			<ul class="list"><li>W3C valid HTML and CSS.</li><li>Unobtrusive JavaScript.</li><li>Information architecture.</li><li>Accessibility / Usability.</li><li>Copywriting and marketing.</li></ul>
			<h3>Version 1.0</h3>
			<p>As HiTechy started as a software development business, I needed a conventional design. Inspired by nature I built an earthy warm two column simple to use layout.</p>
			<h3>Version 2.0</h3>
			<p>Turning from software to website design, I decided to experiment and show off with a controversial but fresh layout that made used bleeding edge CSS techniques.</p>
			<h3>Version 3.0</h3>
			<p>Finally we have the version you see today. Taking lessons from the old site and making vast usability improvements, a mix of simplicity and accessibility become my goal.</p>
			<h3>Resources</h3>
			<ul class="website">
				<li class="screen"><a title="Check out an image of HiTechy 1.0!" href="#design_hitechy_img1">Screenshot v1</a><a class="image" id="design_hitechy_img1" title="Click to return to the HiTechy Website page!" href="#design_hitechy"><em>HiTechy Website Design - Version 1.0: Back when conventional design did the task.</em></a></li>
				<li class="alternative"><a title="View the HiTechy 1.0 image on it's own." href="images/design_hitechy_1.png">Screenshot v1</a></li>
				<li class="screen"><a title="Check out an image of HiTechy 2.0!" href="#design_hitechy_img2">Screenshot v2</a><a class="image" id="design_hitechy_img2" title="Click to return to the HiTechy Website page!" href="#design_hitechy"><em>HiTechy Website Design - Version 2.0: It might have had issues, but it was unique!</em></a></li>
				<li class="alternative"><a title="View the HiTechy 2.0 image on it's own." href="images/design_hitechy_2.png">Screenshot v2</a></li>
			</ul>
		</div>
		<div id="design_onepage">
			<h2><em>One Page</em> Layout</h2>
			<p>When building this website I was inspired to create a beautiful one page design. Using some pastel colors and some powerful pure CSS it gives a multiple page effect!</p>
			<h3>Features</h3>
			<ul class="list"><li>W3C valid HTML and CSS.</li><li>Cross browser support.</li><li>Works without JavaScript.</li><li>Very unique layout style.</li><li>Clean, simple, beautiful.</li></ul>
			<h3>Resources</h3>
			<ul class="website"><li class="screen"><a title="Check out an image of the One Page Layout!" href="#design_onepage_img1">Screenshot</a><a class="image" id="design_onepage_img1" title="Click to return to the One Page Layout page!" href="#design_onepage"><em>A unique and bleeding edge single page web design, which never went final.</em></a></li><li class="alternative"><a title="View the One Page Layout image on it's own." href="images/design_onepage_1.png">Screenshot</a></li></ul>
		</div>
		<div id="design_blog">
			<h2><em>Blogging</em> Design</h2>
			<p>Blogs are one of the most popular websites of choice. I put together a simple and clean blog interface that has a few graphical flourishes on hovering over the navigation.</p>
			<h3>Features</h3>
			<ul class="list"><li>W3C valid HTML and CSS.</li><li>Cross browser support.</li><li>Pre-styled XHTML tags.</li><li>Flexible for multiple uses.</li><li>Simple and clean design.</li></ul>
			<h3>Resources</h3>
			<ul class="website"><li class="screen"><a title="Check out an image of the Blogging Design!" href="#design_blog_img1">Screenshot</a><a class="image" id="design_blog_img1" title="Click to return to the Blogging Design page!" href="#design_blog"><em>I'm hoping to start a blog soon, this may well become it's theme... post tweaking!</em></a></li><li class="alternative"><a title="View the Blogging Design image on it's own." href="images/design_blog_1.png">Screenshot</a></li></ul>
		</div>
		<div id="design_ad2k">
			<h2><em>AD2K-Ware</em> Studios</h2>
			<p>Before HiTechy existed, there was AD2K-Ware. This was a non-profit business I launched to hold free software products I wrote. This of course had it's own web design.</p>
			<h3>Details</h3>
			<ul class="list"><li>W3C valid HTML and CSS.</li><li>JavaScript and classic ASP.</li><li>Copywriting and marketing.</li></ul>
			<h3>Preface</h3>
			<p>For the various software products I wrote, each release was followed by a fresh web design. I've put a patchwork of highlights of various designs and functions together.</p>
			<h3>Explained</h3>
			<p>My coding skills came from these web experiments, as they haven't aged well, I've not provided them publicly. Though in their day they were rather good web designs.</p>
			<h3>Resources</h3>
			<ul class="website"><li class="screen"><a title="Check out an image of AD2K-Ware Studios!" href="#design_ad2k_img1">Screenshot</a><a class="image" id="design_ad2k_img1" title="Click to return to the AD2K-Ware Studios page!" href="#design_ad2k"><em>I didn't think any one design should gain preference, so here's some snippets of them all!</em></a></li><li class="alternative"><a title="View the AD2K-Ware Studios image on it's own." href="images/design_ad2k_1.png">Screenshot</a></li></ul>
		</div>
		<div id="design_ebook">
			<h2><em>eBook</em> Template</h2>
			<p>Working with a previous client, I was asked to produce a template for a potential web design eBook for internal distribution. This was an interesting and fun project.</p>
			<h3>Details</h3>
			<ul class="list"><li>Professional print design.</li><li>Distribution in PDF format.</li><li>Template for customization.</li><li>Formatted for OpenOffice.</li></ul>
			<h3>Explained</h3>
			<p>Provided as part of the package included a beautiful cover and the copyright info, contents and index pages, intro page, chapter cover, template page... a lot of work!</p>
			<h3>Resources</h3>
			<ul class="website"><li class="screen"><a title="Check out an image of the eBook Template!" href="#design_ebook_img1">Screenshot</a><a class="image" id="design_ebook_img1" title="Click to return to the eBook Template page!" href="#design_ebook"><em>Isn't it lovely? While the content will have changed, the visual style remains in-tact.</em></a></li><li class="alternative"><a title="View the eBook Template image on it's own." href="images/design_ebook_1.png">Screenshot</a></li></ul>
		</div>
		<div id="design_sketch">
			<h2><em>Design</em> Sketches</h2>
			<p>Information architecture is a core service I offer. Each project I take up results in a variety of sketches using my WACOM tablet to get a visualization of the end result.</p>
			<h3>General</h3>
			<p>Once sketched or drawn digitally, I save my diagrams as a PDF file. The creative process is important in my job role so these wireframes warrant inclusion in the portfolio.</p>
			<h3>Disclaimer</h3>
			<p>Unfortunately I tend to have loads of ideas but not enough time to bring each one through. Luckily these sketches will preserve these concepts for future development.</p>
			<h3>Resources</h3>
			<ul class="website"><li class="screen"><a title="Check out an image of the Design Sketches!" href="#design_sketch_img1">Screenshot</a><a class="image" id="design_sketch_img1" title="Click to return to the Design Sketches page!" href="#design_sketch"><em>This is an example of my many doodles and projects wireframes, it's scary what's in my head.</em></a></li><li class="alternative"><a title="View the Design Sketches image on it's own." href="images/design_sketch_1.png">Screenshot</a></li></ul>
		</div>
		<div id="design_helpfile">
			<h2><em>Software</em> Help Files</h2>
			<p>Most applications use HTML for their help files. With knowledge in software development and web design, producing these help files is something I've come to enjoy.</p>
			<h3>Formats</h3>
			<p>Documentation I've written has come in many formats like HLP, CHM, MAML, PDF, DOC, RTF and HTML. Using the right format for the job is imperative to my goals.</p>
			<h3>Work</h3>
			<p>I've produced several help files for software I've built in the past. And some of my older clients had me create them some help files for their own programming work too.</p>
			<h3>Resources</h3>
			<ul class="website"><li class="screen"><a title="Check out an image of the Help Files!" href="#design_helpfile_img1">Screenshot</a><a class="image" id="design_helpfile_img1" title="Click to return to the Help Files page!" href="#design_helpfile"><em>This is a screenshot of how simple but well designed and crafted my help files are.</em></a></li><li class="alternative"><a title="View the Help Files image on it's own." href="images/design_helpfile_1.png">Screenshot</a></li></ul>
		</div>
		<div id="design_knpromo">
			<h2><em>KillaNet</em> Promo Video</h2>
			<p>One of my clients approached me to create a Flash based promotion video for industry contacts to gain an insight into their business. This presentation was a great success.</p>
			<h3>Contents</h3>
			<ul class="list"><li>2D and 3D Art gallery.</li><li>Stock / Wallpaper images.</li><li>Knowledge and skill lists.</li><li>Screenshots and photos.</li><li>Credits compilation.</li></ul>
			<h3>Method</h3>
			<p>Using SWiSHMax and high quality music, the video showcased some projects they had completed in a visually stunning montage much alike an art gallery presentation.</p>
			<h3>Resources</h3>
			<ul class="website"><li class="screen"><a title="Check out an image of the Promo Video!" href="#design_knpromo_img1">Screenshot</a><a class="image" id="design_knpromo_img1" title="Click to return to the Promo Video page!" href="#design_knpromo"><em>Below are a few monochromed slides from the promotion video I produced, stacked together.</em></a></li><li class="alternative"><a title="View the Promo Video image on it's own." href="images/design_knpromo_1.png">Screenshot</a></li></ul>
		</div>
		<div id="design_xtvideo">
			<h2><em>eXtreme</em> Adventures</h2>
			<p>Using a blend of real life photos and some Flash, I built a comical cartoon of forum moderators that was sent around privately in a well known MSN Chat community.</p>
			<h3>Reason</h3>
			<p>By creating the animation, it gave a face to usernames and increased the emotional bond between the moderators and regulars making visitors more inclined to stay.</p>
			<h3>Method</h3>
			<p>The comic strip effect used layered Flash speech bubbles, which were positioned over the characters real life photos to form a storyline based on the forums activities.</p>
			<h3>Resources</h3>
			<ul class="website"><li class="screen"><a title="Check out an image of eXtreme Adventures!" href="#design_xtvideo_img1">Screenshot</a><a class="image" id="design_xtvideo_img1" title="Click to return to the eXtreme Adventures page!" href="#design_xtvideo"><em>This monochromed image displays some of the people and cast involved in the cartoons production.</em></a></li><li class="alternative"><a title="View the eXtreme Adventures image on it's own." href="images/design_xtvideo_1.png">Screenshot</a></li></ul>
		</div>
		<div id="design_joke">
			<h2><em>Web</em> Practical Joke</h2>
			<p>One fun April fools day I decided to treat an IRC chat network I talk in to a flash based practical joke for their website. Upon clicking links, a funny animation triggered.</p>
			<h3>Why!</h3>
			<p>This project came mostly out of boredom, however the final effect was very pleasing to the eyes. It also mocked a regular who enjoys getting into trouble occasionally!</p>
			<h3>What?</h3>
			<p>Upon clicking any of the fake links it flashed various warnings which were followed by a comical system event resulting in the fake website collapsing, before resetting again!</p>
			<h3>Resources</h3>
			<ul class="website"><li class="screen"><a title="Check out an image of the Practical Joke!" href="#design_joke_img1">Screenshot</a><a class="image" id="design_joke_img1" title="Click to return to the Practical Joke page!" href="#design_joke"><em>April fools day made it's appearance on an IRC network I hang out in... aren't I naughty!</em></a></li><li class="alternative"><a title="View the Practical Joke image on it's own." href="images/design_joke_1.png">Screenshot</a></li></ul>
		</div>
		<div id="develop">
			<h2><em>App</em> Development</h2>
			<p>I write <dfn title="GUI Design &amp; Code Writing.">software</dfn> in my spare time. While this may seem an odd <dfn title="I also do custom work.">hobby</dfn> I find it rather relaxing! I've written and <dfn title="For clients and personal projects.">designed</dfn> a fair few apps in my time. Just check out the below.</p>
			<h3>Products</h3>
			<ul class="category">
				<li><a title="Code Snippet Manager" href="#develop_snipclip">HiTechy SnipClip</a></li>
			</ul>
			<h3>Archive</h3>
			<ul class="category">
				<li><a title="Chat Moderation Tools" href="#develop_msnchat">MSN Chat Utilities</a></li>
				<li><a title="Installation Package" href="#develop_illumni">Illumni Installer</a></li>
				<li><a title="Children's Learning Tool" href="#develop_learn4it">Learn 4 IT</a></li>
				<li><a title="Network Web Browser" href="#develop_navigator">KillaNet Navigator</a></li>
				<li><a title="Web Media Syndicator" href="#develop_killacast">KillaCast TV</a></li>
				<li><a title="Software Help Browser" href="#develop_salamander">Project Salamander</a></li>
				<li><a title="Basic Database Editor" href="#develop_ado">ADO Architect</a></li>
			</ul>
			<h3>GUI Design</h3>
			<ul class="category">
				<li><a title="App Container Interface" href="#develop_webedit">Website Editor</a></li>
				<li><a title="Graphical Layout Mock-up" href="#develop_cms">Offline CMS</a></li>
				<li><a title="Unique Layout &amp; Controls" href="#develop_security">Security Suite</a></li>
				<li><a title="MSN Community Navigator" href="#develop_social">Social Browser</a></li>
			</ul>
		</div>
		<div id="develop_snipclip">
			<h2><em>HiTechy</em> SnipClip</h2>
			<p>Writing code can get repetitive, so this product aims to solve that issue by managing your snippets in a drag and drop environment that works with your code editor.</p>
			<h3>Features</h3>
			<ul class="list"><li>Small, easy-to-use utility.</li><li>Categories &amp; languages.</li><li>Can print or export code.</li><li>Supports most software.</li><li>Powerful XML based API.</li></ul>
			<h3>Functionality</h3>
			<p>You simply drag code you want to store into the app, and drag it into the software you use when you need it. It's quick, simple and uses an open source storage format!</p>
			<h3>Requirements</h3>
			<ul class="list"><li>Windows 2000 or above.</li><li>.NET Framework 3.5</li><li>An Internet Connection.</li></ul>
			<h3>Details</h3>
			<p>This product is not free, it's a piece of commercial software and you'll need to pay &pound;7.50 to obtain a full license. A limited demo is available and can be used without paying.</p>
			<h3>Resources</h3>
			<ul class="website">
				<li><form action="https://www.paypal.com/cgi-bin/webscr" id="paypal" method="post"><fieldset><input type="hidden" name="cmd" value="_s-xclick" /><input type="hidden" name="hosted_button_id" value="DHHSTDUBDL8MS" /><input type="submit" name="submit" title="Purchase using PayPal" value="Purchase" /></fieldset></form></li>
				<li class="screen"><a title="Check out an image of HiTechy SnipClip!" href="#develop_snipclip_img1">Screenshot</a><a class="image" id="develop_snipclip_img1" title="Click to return to the HiTechy SnipClip page!" href="#develop_snipclip"><em>HiTechy SnipClip sits in the system tray and waits for useful blocks of code you want to store.</em></a></li><li class="alternative"><a title="View the HiTechy SnipClip image on it's own." href="images/develop_snipclip_1.png">Screenshot</a></li>
				<li><a title="Download the latest version of this product!" href="/download/SnipClip.exe">Download</a></li>
				<li><a title="Read this items documentation!" href="/manual/snipclip/">Readme</a></li>
			</ul>
		</div>
		<div id="develop_msnchat">
			<h2><em>MSN Chat</em> Utilities</h2>
			<p>Back in the days when MSN Chat was around, I produced a range of free moderation software for the networks chat rooms. For 6 years I was a leading figure in this field.</p>
			<h3>Scope</h3>
			<p>I produced a range of products to improve the user-experience for users of the MSN Client. This was the largest development project I have been involved in to-date.</p>
			<h3>Community</h3>
			<p>I collaborated with a wide range of professionals and helped several software developers in their own creations. I also supported several online groups and their networks.</p>
			<h3>Success</h3>
			<p>Over the six year period I was featured on several major sites, produced over 30 products and had thousands of active users. I even ran a own web community!</p>
			<h3>Resources</h3>
			<ul class="website"><li class="screen"><a title="Check out an image of MSN Utilities!" href="#develop_msnchat_img1">Screenshot</a><a class="image" id="develop_msnchat_img1" title="Click to return to the MSN Utilities page!" href="#develop_msnchat"><em>One of my most popular products for MSN Chat, Thundershock IRC Client had loads of options!</em></a></li><li class="alternative"><a title="View the MSN Utilities image on it's own." href="images/develop_msnchat_1.png">Screenshot</a></li></ul>
		</div>
		<div id="develop_illumni">
			<h2><em>Illumni</em> Installer</h2>
			<p>Every product needs an installer, so I wrote my own. It supported most functions you would expect in such a package and considering how old it is, it does the job well!</p>
			<h3>Details</h3>
			<ul class="list"><li>Install / Repair / Uninstall.</li><li>License &amp; Readme support.</li><li>Shortcuts / Associations.</li><li>Custom components list.</li><li>Easy to configure installer.</li></ul>
			<h3>Functions</h3>
			<p>The product isn't open source but all elements of the installer can be controlled through an editable INI file. You literally just distribute the executable with the components.</p>
			<h3>Resources</h3>
			<ul class="website"><li class="screen"><a title="Check out an image of Illumni Installer!" href="#develop_illumni_img1">Screenshot</a><a class="image" id="develop_illumni_img1" title="Click to return to the Illumni Installer page!" href="#develop_illumni"><em>Illumni Installer was equipped with a great interface and the usual setup features.</em></a></li><li class="alternative"><a title="View the Illumni Installer image on it's own." href="images/develop_illumni_1.png">Screenshot</a></li></ul>
		</div>
		<div id="develop_learn4it">
			<h2><em>Learn</em> 4 IT</h2>
			<p>While at college one of the tasks I had to undertake was a project to aid children's learning ability. One activity undertaken from this task resulted in this small application.</p>
			<h3>Segments</h3>
			<ul class="list"><li>Typing Tutor</li><li>Number Picker</li><li>Shape Shifter</li><li>Find &amp; Click</li></ul>
			<h3>Overview</h3>
			<p>This product aims to improve a 5 to 6 year olds literacy, numeracy, association, recognition, motor function and IT skills. It contains 4 activities with 12 levels in total.</p>
			<h3>Results</h3>
			<p>Upon testing the application on the target audience, they found the activities engaging. The main side benefit for myself was that I received an A grade for my work!</p>
			<h3>Resources</h3>
			<ul class="website"><li>Readme</li></ul>
		</div>
		<div id="develop_navigator">
			<h2><em>KillaNet</em> Navigator</h2>
			<p>One client, who I produced several projects with asked me to write a web browser for their site. It's goal was to interlink the networks services into basic user-interface.</p>
			<h3>Details</h3>
			<ul class="list"><li>User Authentication.</li><li>hSlice style Live menus.</li><li>Gecko / Trident Swapper.</li><li>Web radio &amp; MP3 player.</li></ul>
			<h3>Release</h3>
			<p>While the application still exists, sadly the business failed to update it or go beyond the initial release so it has ended up as an archived piece of work floating on the web.</p>
			<h3>Resources</h3>
			<ul class="website"><li><a title="Check out the Killanet Navigator website!" href="http://navigator.killanet.net">Visit Website</a></li></ul>
		</div>
		<div id="develop_killacast">
			<h2><em>KillaCast</em> TV</h2>
			<p>Before the days of BBC iPlayer and streaming media the web used a variety of formats to show audio and video. I was asked to built a web media aggregator for these.</p>
			<h3>Details</h3>
			<ul class="list"><li>XML Syndication channels.</li><li>Smart format rendering.</li><li>Subtitle and VOD support.</li></ul>
			<h3>Project</h3>
			<p>A regular client approached me to built a tool which used a hosted XML list of streams or media, that detected the player and made use of the format playing the file.</p>
			<h3>Support</h3>
			<p>The product supported Quicktime, Windows Media Player, RealOne, Flash and any format associated with them. However it required those products to be installed.</p>
			<h3>Resources</h3>
			<ul class="website"><li class="screen"><a title="Check out an image of KillaCast TV!" href="#develop_killacast_img1">Screenshot</a><a class="image" id="develop_killacast_img1" title="Click to return to the KillaCast TV page!" href="#develop_killacast"><em>Before the days of video-on-demand, this product gave the same functionality.</em></a></li><li class="alternative"><a title="View the KillaCast TV image on it's own." href="images/develop_killacast_1.png">Screenshot</a></li></ul>
		</div>
		<div id="develop_salamander">
			<h2><em>Project</em> Salamander</h2>
			<p>While I offer help file production as a service, this application was a web based help file viewer that I put together. It also came with a range of unique, useful features.</p>
			<h3>Naming</h3>
			<p>As you can tell, this software has a strange name. The reason for this is due to it never getting past the beta stage. While never released, it still did it's job very effectively.</p>
			<h3>Conventions</h3>
			<p>This product supported HTML and CSS, it could send commands to the product on link clicking and even built index maps of content automatically, no help required!</p>
			<h3>Resources</h3>
			<ul class="website"><li class="screen"><a title="Check out an image of Project Salamander!" href="#develop_salamander_img1">Screenshot</a><a class="image" id="develop_salamander_img1" title="Click to return to the Project Salamander page!" href="#develop_salamander"><em>Project Salamander was the code-name for an unreleased help document viewer.</em></a></li><li class="alternative"><a title="View the Project Salamander image on it's own." href="images/develop_salamander_1.png">Screenshot</a></li></ul>
		</div>
		<div id="develop_ado">
			<h2><em>ADO</em> Architect</h2>
			<p>A client employed me to create a simple but effective management solution for email addresses. The utility used a secure database and had entries for their task needs.</p>
			<h3>General</h3>
			<p>Most applications take a while to produce, this one was different. A straight forward tool with simple goals! It acted as the front-end for a Microsoft Access database.</p>
			<h3>Client</h3>
			<p>This projects client was studying computer science and bought the source code to develop further. It's therefore possible that it may have evolved into a complete app!</p>
			<h3>Resources</h3>
			<ul class="website"><li class="screen"><a title="Check out an image of ADO Architect!" href="#develop_ado_img1">Screenshot</a><a class="image" id="develop_ado_img1" title="Click to return to the ADO Architect page!" href="#develop_ado"><em>This simple database editor helped a student through her computer science degree.</em></a></li><li class="alternative"><a title="View the ADO Architect image on it's own." href="images/develop_ado_1.png">Screenshot</a></li></ul>
		</div>
		<div id="develop_webedit">
			<h2><em>Website</em> Editor</h2>
			<p>I was approached by a client to advise on, and produce a custom user interface for a website editor that would be used integrally for their various Intranet pages.</p>
			<h3>Breakdown</h3>
			<p>While the client was able to write the needed back-end code, their usability and UI skills were lacking. Therefore I worked to make their front-end design user-friendly.</p>
			<h3>Essentials</h3>
			<p>One key layout decision was to organize the toolbar into tabbed navigation. The decisions for the structure and layout of users code was therefore logically handled.</p>
			<h3>Resources</h3>
			<ul class="website"><li class="screen"><a title="Check out an image of the Website Editor!" href="#develop_webedit_img1">Screenshot</a><a class="image" id="develop_webedit_img1" title="Click to return to the Website Editor page!" href="#develop_webedit"><em>This user-interface was built to encompass a WYSIWYG website editing suite.</em></a></li><li class="alternative"><a title="View the Website Editor image on it's own." href="images/develop_webedit_1.png">Screenshot</a></li></ul>
		</div>
		<div id="develop_cms">
			<h2><em>Offline</em> CMS</h2>
			<p>A while ago, I had the inspiration of producing an offline CMS tool. While this didn't go past the user-interface creation, the layout itself is actually pretty well designed.</p>
			<h3>Layout</h3>
			<p>For the tools layout, I made the decision to follow conventions in web design so it would run as in the browser. This gave a simple but easy to grasp layout design.</p>
			<h3>Ideas</h3>
			<p>A unique feature that the product would have had was the ability to generate semantic code without having to touch any HTML or CSS as the source was strictly handled.</p>
			<h3>Resources</h3>
			<ul class="website"><li class="screen"><a title="Check out an image of the Offline CMS!" href="#develop_cms_img1">Screenshot</a><a class="image" id="develop_cms_img1" title="Click to return to the Offline CMS page!" href="#develop_cms"><em>This user-interface was built to encompass an offline CMS engine.</em></a></li><li class="alternative"><a title="View the Offline CMS image on it's own." href="images/develop_cms_1.png">Screenshot</a></li></ul>
		</div>
		<div id="develop_security">
			<h2><em>Security</em> Suite</h2>
			<p>A friend asked me to produce a skin for a security application he was building as a hobby project. While the tool was never released, the layout did the job required.</p>
			<h3>Sections</h3>
			<p>The programs sidebar had built sections for file and disk scanning, live protection, heuristic archives, system tools it shipped with and the all important product help file.</p>
			<h3>Scope</h3>
			<p>The work done extended beyond the skin, I also created a module loader to let custom components be embedded within the utility securely at the authors request.</p>
			<h3>Resources</h3>
			<ul class="website"><li class="screen"><a title="Check out an image of the Security Suite!" href="#develop_security_img1">Screenshot</a><a class="image" id="develop_security_img1" title="Click to return to the Security Suite page!" href="#develop_security"><em>This user-interface was built to encompass a complete security suite product.</em></a></li><li class="alternative"><a title="View the Security Suite image on it's own." href="images/develop_security_1.png">Screenshot</a></li></ul>
		</div>
		<div id="develop_social">
			<h2><em>Social</em> Browser</h2>
			<p>I spent a lot of time building tools for MSN Chat. One abandoned project, due to MSN Chat closing was a social tool that streamlined their services for web beginners.</p>
			<h3>Layers</h3>
			<p>The product itself would connect and collaborate with several MSN services including Chat, Groups, cross format Instant messaging, searching, file editing and more.</p>
			<h3>Inspiration</h3>
			<p>Few people know every service MSN produced, the products aim was to highlight such functionality in a user-friendly manner. The tool was also made child friendly.</p>
			<h3>Resources</h3>
			<ul class="website"><li class="screen"><a title="Check out an image of the Social Browser!" href="#develop_social_img1">Screenshot</a><a class="image" id="develop_social_img1" title="Click to return to the Social Browser page!" href="#develop_social"><em>This user-interface was built to encompass a social communication tool for MSN.</em></a></li><li class="alternative"><a title="View the Social Browser image on it's own." href="images/develop_social_1.png">Screenshot</a></li></ul>
		</div>
		<div id="consult">
			<h2><em>My</em> Consultation</h2>
			<p>When it comes to web <dfn title="...and development as well.">design</dfn>, I've learnt a lot and I don't like keeping it to <dfn title="I enjoy sharing my knowledge to help others.">myself</dfn>. I freely contribute to several communities and offer my skills as a consultant and <dfn title="You can hire me too!">trainer</dfn>.</p>
			<h3>Consulting</h3>
			<ul class="category">
				<li><a title="I am an Executive Producer!" href="#consult_1secfilm">The One Second Film</a></li>
				<li><a title="Project Manager &amp; App Design" href="#consult_killanet">KillaNet Technology Ltd</a></li>
				<li><a title="Web Design Help &amp; Promotion" href="#consult_epic">Epic Web Services</a></li>
				<li><a title="Affiliate Website Marketing" href="#consult_merito">Merito Web Services</a></li>
				<li><a title="Content Writer &amp; Adviser" href="#consult_tg007">TechGear 007</a></li>
				<li><a title="Forum Moderator &amp; Writing" href="#consult_xtc">eXtreme Computing</a></li>
				<li><a title="Research &amp; Product Building" href="#consult_msnchat">MSN Chat Network</a></li>
				<li><a title="Offering Various Solutions" href="#consult_ad2k">AD2K-Ware Studios</a></li>
			</ul>
			<h3>Contributing</h3>
			<ul class="category">
				<li><a title="Mentor and Article Writer" href="#consult_sitepoint">SitePoint Community</a></li>
				<li><a title="Promoting Web Accessibility" href="#consult_gawds">Member of GAWDS</a></li>
				<li><a title="Promoting Web Usability" href="#consult_upa">Member of UPA</a></li>
				<li><a title="Promoting Web Standards" href="#consult_iwa">Member of IWA</a></li>
				<li><a title="Web Design Assistance" href="#consult_wsg">Web Standards Group</a></li>
				<li><a title="Bug Report Contributor" href="#consult_csswg">CSS-WG Test Suite</a></li>
			</ul>
		</div>
		<div id="consult_1secfilm">
			<h2><em>One</em> Second Film</h2>
			<p>I am an executive producer of a social collaboration film. As well as donating money to this charitable cause, I've also freely given my services to the non-profit project.</p>
			<h3>Services</h3>
			<ul class="list"><li>Accessibility Audits</li><li>Usability Tests (UX)</li><li>Online Strategy</li><li>Social Marketing</li><li>Financial Donations</li></ul>
			<h3>Synopsis</h3>
			<p>The One Second Film is funded by micro-donations from the public to produce a movie. The profits from this socially driven, celebrity endorsed project goes to charity.</p>
			<h3>Position</h3>
			<p>In my assigned beta testing role, I undertook simplified versions of the above to assist the director in both bug discovery and providing ideas to how the site could evolve.</p>
			<h3>Resources</h3>
			<ul class="website"><li><a title="Check out the One Second Film website!" href="http://www.the1secondfilm.com/">Visit Website</a></li><li><a title="Check out my profile on the One Second Film website!" href="http://www.the1secondfilm.com/crew/28127">My Profile</a></li></ul>
		</div>
		<div id="consult_killanet">
			<h2><em>KillaNet</em> Network</h2>
			<p>One of the longest running online projects I was associated with for a previous client was that of the online gaming community owned by KillaNet Technology Ltd.</p>
			<h3>Services</h3>
			<ul class="list"><li>Website Design</li><li>App Development</li><li>Online Strategy</li><li>Project Plans (IA)</li><li>Content Writing</li><li>Social Marketing</li></ul>
			<h3>Synopsis</h3>
			<p>KillaNet Technology Ltd are a web based Canadian community who offer a range of services aimed at graphic artists and gamers such as hosting, chat rooms and forums.</p>
			<h3>Position</h3>
			<p>As the project manager, I advised on the business operations, wrote software, content, articles and even produced a Flash corporate promotion video of their results.</p>
			<h3>Resources</h3>
			<ul class="website"><li><a title="Check out the KillaNet website!" href="http://www.killanettechnology.com/">Visit Website</a></li><li><a title="Check out my profile on the KillaNet website!" href="http://staff.killanet.net/index2.html">My Profile</a></li></ul>
		</div>
		<div id="consult_epic">
			<h2><em>Epic</em> Web Services</h2>
			<p>In the past, I affiliated and assisted the hosting and domain registrar business in a few ways. The client who owned the business has been a friend of mine for several years.</p>
			<h3>Services</h3>
			<ul class="list"><li>Usability Tests (UX)</li><li>Online Strategy</li><li>Social Marketing</li></ul>
			<h3>Synopsis</h3>
			<p>Epic Web Services was a web host and domain registrar in the United Kingdom. While they do not exist anymore, I assisted and gave my support to them until they closed.</p>
			<h3>Position</h3>
			<p>My job role in Epic Web Services was rather minimal. I gave general advice to the design of their site and custom control panel along with helping market the business.</p>
			<h3>Resources</h3>
			<ul class="website"><li><a title="Check out this items (now dead) website!" href="http://web.archive.org/web/*/http://www.epicwebservices.net">Visit Website</a></li></ul>
		</div>
		<div id="consult_merito">
			<h2><em>Merito</em> Web Services</h2>
			<p>A client wanted to expand their existing business so I agreed to promote and integrate services they offered in an affiliate scheme through a download site I owned.</p>
			<h3>Services</h3>
			<ul class="list"><li>Social Marketing</li></ul>
			<h3>Synopsis</h3>
			<p>Merito Web Services is a small but scalable provider of web hosting services in the United Kingdom. They have been offering a core range of hosting for several years.</p>
			<h3>Position</h3>
			<p>I promoted Merito's core services through an affiliate scheme using a site I managed over a period of 2 years. This gave them significant exposure and new customers.</p>
			<h3>Resources</h3>
			<ul class="website"><li><a title="Check out the Merito website!" href="http://www.merito.co.uk/index.php">Visit Website</a></li></ul>
		</div>
		<div id="consult_tg007">
			<h2><em>TechGear</em> 007</h2>
			<p>Back in the days of MSN Chat, I worked with the well respected provider of 3rd party tools for the popular network. The assistance I gave came in a range of forms.</p>
			<h3>Services</h3>
			<ul class="list"><li>App Development</li><li>Online Strategy</li><li>Content Writing</li><li>Social Marketing</li></ul>
			<h3>Synopsis</h3>
			<p>TechGear was a leading provider of MSN bots, clients and utilities, back when MSN Chat existed. These days it's become a software resource and online community.</p>
			<h3>Position</h3>
			<p>As a producer of MSN software, I regularly contributed tools to the site. This allowed TechGear to gain additional network exposure via owners of my created products.</p>
			<h3>Resources</h3>
			<ul class="website"><li><a title="Check out the TechGear website!" href="http://www.tg007.net/">Visit Website</a></li></ul>
		</div>
		<div id="consult_xtc">
			<h2><em>eXtreme</em> Computing</h2>
			<p>A highly successful forum back in the day, I assisted this community aimed at users of 3rd party tools for MSN Chat as a moderator, contributor and writer of content.</p>
			<h3>Services</h3>
			<ul class="list"><li>App Development</li><li>Online Strategy</li><li>Content Writing</li><li>Social Marketing</li></ul>
			<h3>Synopsis</h3>
			<p>eXtreme Computing was a very successful web forum for users of MSN Chat. While the community no longer exists, they were a very popular non-profit organisation.</p>
			<h3>Position</h3>
			<p>As an authority on MSN tools, I acted as a community adviser, global moderator and long term supporter of the community. This involved a great deal of writing.</p>
			<h3>Resources</h3>
			<ul class="website"><li><a title="Check out the eXtreme Team website!" href="http://www.extremeirc.org/forum/">Visit Website</a></li><li><a title="Check out this items older website!" href="http://xt.proboards.com/">Visit Archive</a></li></ul>
		</div>
		<div id="consult_msnchat">
			<h2><em>MSN Chat</em> Network</h2>
			<p>When producing clients for MSN Chat, research was carried out examining the popularity of such tools. The studies are listed below for general archival purposes.</p>
			<h3>Top 10 Guide</h3>
			<p>The most important MSN research for 3rd party tools carried out an independent study of functionality within several well known utilities and built a report of the results.</p>
			<h3>Resources</h3>
			<ul class="website"><li>Readme</li></ul>
			<h3>Product List</h3>
			<p>In MSN Chat's history, well over 1,000 tools were provided for it's network! The research attached contains the most comprehensive list of such products in existence.</p>
			<h3>Resources</h3>
			<ul class="website"><li>Readme</li></ul>
		</div>
		<div id="consult_ad2k">
			<h2><em>AD2K-Ware</em> Studios</h2>
			<p>Before HiTechy existed, there was AD2K-Ware. This was a non-profit business I launched to hold free software products I wrote. This of course provided it's own services.</p>
			<h3>Services</h3>
			<ul class="list"><li>App Development</li><li>Chat Moderation</li><li>MSN Resources</li></ul>
			<h3>Explanation</h3>
			<p>During my days at college as a part time venture, I offered a range of highly successful freeware tools and useful resources for regular users of the MSN Chat network.</p>
			<h3>Resources</h3>
			<ul class="website"><li><a title="Note: This will redirect back to the main page." href="http://www.ad2k.net/">Visit Website</a></li></ul>
		</div>
		<div id="consult_sitepoint">
			<h2><em>SitePoint</em> Community</h2>
			<p>I have been a regular contributor to SitePoint since February 2009. Over this time I've contributed to the community in many different ways, and some are listed below.</p>
			<h3>Community</h3>
			<p>SitePoint's forums are one of the worlds largest web professional communities. They regularly talk about a range of subjects related to web design and development.</p>
			<h3>Awards</h3>
			<ul class="list">
				<li><a title="SitePoint Award: Year 2010." href="http://www.sitepoint.com/forums/showthread.php?t=719967">Web Design Guru (2010)</a></li>
				<li><a title="SitePoint Award: Year 2009." href="http://www.sitepoint.com/forums/showthread.php?t=654249">Web Design Guru (2009)</a></li>
				<li><a title="SitePoint Award: Year 2010." href="http://www.sitepoint.com/forums/showthread.php?t=719967">(x)HTML Guru of the Year</a></li>
				<li><a title="SitePoint Mentor: June 2009 - July 2010." href="http://www.sitepoint.com/forums/showthread.php?t=625058">Official SitePoint Mentor</a></li>
				<li><a title="SitePoint Award: May 2009." href="http://www.sitepoint.com/forums/showthread.php?t=619691">Member of the Month</a></li>
			</ul>
			<h3>Position</h3>
			<p>I'm an ex-mentor with over 7,000 posts and 5 awards who has also contributed an article, content for their forums podcast and material for a community book project.</p>
			<h3>Resources</h3>
			<ul class="website"><li><a title="Check out the SitePoint forums!" href="http://www.sitepoint.com/forums/forumindex.php">Visit Website</a></li><li><a title="Check out my profile on the SitePoint forums!" href="http://www.sitepoint.com/forums/member.php?u=316859">My Profile</a></li><li><a title="Check out my profile on the SitePoint Articles website!" href="http://www.sitepoint.com/articlelist/604/">Author Profile</a></li></ul>
		</div>
		<div id="consult_gawds">
			<h2><em>GAWDS</em> Member</h2>
			<p>I have become a member of the accessibility group, the Guild of Accessible Web Designers to aid both the promotion and advocacy of disability rights on the web.</p>
			<h3>Community</h3>
			<p>This organization promotes and protects accessible web design standards to aid the increasing range of needs for ability inhibited individuals who use the Internet.</p>
			<h3>Position</h3>
			<p>As a member of this group, my goal is to assist in the promotion of accessibility both through my business and to promote such methods to the wider community.</p>
			<h3>Resources</h3>
			<ul class="website"><li><a title="Check out the GAWDS website!" href="http://www.gawds.org/">Visit Website</a></li><li><a title="Check out my profile on the GAWDS website!" href="http://www.gawds.org/showmember.php?memberid=2691">My Profile</a></li></ul>
		</div>
		<div id="consult_upa">
			<h2><em>UPA</em> Member</h2>
			<p>I've joined yet another group who actively promote best practices to make the web better for end users called the Usability Professionals Association (in the UK chapter).</p>
			<h3>Community</h3>
			<p>This group promotes design with a users needs and abilities in mind. They also connect professionals from sectors such as usability, UX design and user-centered design.</p>
			<h3>Position</h3>
			<p>As a member of this organization, I aim to not only reinforce the core principles of user-centered design and promote best practices while encouraging continued learning.</p>
			<h3>Resources</h3>
			<ul class="website"><li><a title="Check out the UPA website!" href="http://www.upassoc.org/">Visit Website</a></li></ul>
		</div>
		<div id="consult_iwa">
			<h2><em>IWA</em> Member</h2>
			<p>I'm a member of the International Webmasters Association to show my support for their movement to promote web standards and best practices within the web industry.</p>
			<h3>Community</h3>
			<p>This group attempts to raise the standards and ethics of industry professionals and the levels of both education and certification within the web design industry.</p>
			<h3>Position</h3>
			<p>As a member, my goal is not only to try and advocate for better standards of education for new designers but to begin teaching new web design skills to students.</p>
			<h3>Resources</h3>
			<ul class="website"><li><a title="Check out the IWA website!" href="http://www.iwanet.org/">Visit Website</a></li></ul>
		</div>
		<div id="consult_wsg">
			<h2><em>Web</em> Standards Group</h2>
			<p>I am currently a contributor to the well known web mailing list that provides assistance, discussions and support in respect to current and existing web standards.</p>
			<h3>Community</h3>
			<p>The Web Standards Group exists to provide information, discussion and resources on web standards and industry best practices for web designers and developers.</p>
			<h3>Position</h3>
			<p>I am a subscriber to their forums and mailing list primarily spending my free time giving people email based assistance to web design questions on a voluntary basis.</p>
			<h3>Resources</h3>
			<ul class="website"><li><a title="Check out the WSG website!" href="http://webstandardsgroup.org/">Visit Website</a></li></ul>
		</div>
		<div id="consult_csswg">
			<h2><em>CSS-WG</em> Test Suite</h2>
			<p>The CSS Working Group test suite is a W3C project aimed at listing common flaws in rendering CSS so browser makers can ensure that their code works as predicted.</p>
			<h3>Contributions</h3>
			<p>To date, I have successfully made contributions that helped identify flaws as to how certain browsers render CSS. A Link to the site with the test-cases is provided below.</p>
			<h3>Test-Cases</h3>
			<ul class="website"><li><a title="Check out the CSSWG website!" href="http://test.csswg.org/suites/css2.1/latest/">Test Suite 2.1</a></li></ul>
		</div>
		<div id="speaking">
			<h2><em>Event</em> Speaking</h2>
			<p>People enjoy talking for all sorts of reasons, I love <dfn title="Online &amp; Offline.">chatting</dfn> about web design. Below you'll see the places I've participated as a <dfn title="Want me to talk? Let me know.">speaker</dfn> such as <dfn title="Audio &amp; Video Shows.">podcasts</dfn> and conferences.</p>
			<h3>Teaching</h3>
			<ul class="category"><li><a title="Learnable Course: Mobile Design!" href="#speaking_lcmd">Mobile Design Course</a></li></ul>
			<h3>Podcasts</h3>
			<ul class="category"><li><a title="SitePoint ForumCast: After Hours!" href="#speaking_spfc">SitePoint ForumCast</a></li></ul>
		</div>
		<div id="speaking_lcmd">
			<h2><em>Learnable</em> Course</h2>
			<p>I've produced a course on mobile web design, in association with Learnable. This product aims to provide tips, tricks, best practices and more for alternative devices.</p>
			<h3>Format</h3>
			<ul class="list"><li>Hardware and Software Issues</li><li>Deciding Structure &amp; Location</li><li>Coding for a Mobile Platform</li><li>Design Theory for Devices</li></ul>
			<h3>Project</h3>
			<p>My content is provided entirely in video format (Screencasts), and I ended up producing four hours of content comprised of 24 videos. It also contains a Q&amp;A for students.</p>
			<h3>Position</h3>
			<p>I became a member of the original beta team. We worked closely with the Learnable staff, building our courses, helping to uncover bugs and request new features.</p>
			<h3>Resources</h3>
			<ul class="website"><li><a title="Learnable Course Details" href="https://learnable.com/courses/a-crash-course-in-mobile-web-design-195">Course Details</a></li></ul>
		</div>
		<div id="speaking_spfc">
			<h2><em>SitePoint</em> ForumCast</h2>
			<p>I was involved in a podcast aimed at SitePoint's visitors for the first two episodes. This unique show is an offbeat and fun examination of whats going on in the community.</p>
			<h3>Format</h3>
			<ul class="list"><li>General Chat</li><li>User Interview</li><li>Jam Session</li><li>Q &amp; A Session</li><li>Featured Topics</li><li>Announcements</li></ul>
			<h3>Project</h3>
			<p>Along with other regulars in the community, we produce segments of interest in an easy to listen to format. The podcast was officially endorsed by SitePoint themselves.</p>
			<h3>Position</h3>
			<p>I was the producer, editor and the audio engineer of my "Featured Topics" segment. This role was to give thread recommendations for active forum users to participate.</p>
			<h3>Resources</h3>
			<ul class="website">
				<li><a title="The First Episode Is Released!" href="http://www.sitepoint.com/forums/showthread.php?t=675922">Episode One</a></li>
				<li><a title="The Second Episode Is Released!" href="http://www.sitepoint.com/forums/showthread.php?t=681635">Episode Two</a></li>
			</ul>
		</div>
		<div id="writing">
			<h2><em>Published</em> Writing</h2>
			<p>As well as talking about the web, I also enjoy <dfn title="For various websites.">writing</dfn>. Whether it's a sites content, forum <dfn title="I've clocked up a lot of posts.">discussions</dfn>, article or <dfn title="Yes, I'm a published author!">books</dfn> that I've written, I'm happy to throw in my views.</p>
			<h3>Books</h3>
			<ul class="category">
				<li><a title="Distinctive Design" href="#writing_dd">Distinctive Design</a></li>
				<li><a title="Getting StartED Building Websites" href="#writing_gsbw">GS: Building Websites</a></li>
			</ul><h3>eBooks</h3>
			<ul class="category">
				<li><a title="Thinking Web: Voices of the Community" href="#writing_sptw">Thinking Web</a></li>
				<li><a title="Smashing Magazine's Professional Web Design Vol.2" href="#writing_smde">Pro Web Design Vol.2</a></li>
				<li><a title="Smashing Magazine's Mobile Design for iOS" href="#writing_smme">Mobile Design for iOS</a></li>
			</ul>
			<h3>Articles</h3>
			<ul class="category">
				<li><a title="Freelance Mingle Articles" href="#writing_fm">Freelance Mingle</a></li>
				<li><a title="Freelance Switch Articles" href="#writing_fs">Freelance Switch</a></li>
				<li><a title="OneXtra Pixel Articles" href="#writing_oxp">OneXtra Pixel</a></li>
				<li><a title="SitePoint Articles" href="#writing_sp">SitePoint Articles</a></li>
				<li><a title="Six Revisions Articles" href="#writing_sr">Six Revisions</a></li>
				<li><a title="Smashing Magazine Articles" href="#writing_sm">Smashing Magazine</a></li>
				<li><a title="UX Booth Articles" href="#writing_uxb">UX Booth</a></li>
				<li><a title="UX Magazine Articles" href="#writing_uxm">UX Magazine</a></li>
				<li><a title="Web Designer Depot Articles" href="#writing_wdd">Web Designer Depot</a></li>
			</ul>
		</div>
		<div id="writing_dd">
			<h2><em>Distinctive</em> Design</h2>
			<p>Distinctive design is my latest Web design book for anyone wanting to learn about design theory, and how to maximize the usefulness and visibility of content on a page.</p>
			<h3>Audience</h3>
			<p>This title is aimed at designers who already know how to code, but want to learn to design effectively. Design students with an interest in the Web could learn stuff too.</p>
			<h3>Information</h3>
			<p>Using a wide mixture of design techniques, from design theory to psychology, usability to sociology; I'll show you how to increase your pages influence over an audience.</p>
			<h3>Subjects</h3>
			<ul class="list"><li>The Distinction of Web Design</li><li>Designing for Different Devices</li><li>Principles of Info Design</li><li>Design Concepts and Theories</li><li>Introducing Design Psychology</li><li>Sculpting a User Interface</li><li>Promoting User Interaction</li><li>The Foundations of UX</li><li>The Construct of Usability</li><li>Focusing Facets of Findability</li></ul>
			<h3>Bonus</h3>
			<ul class="list"><li>Information Architecture</li><li>The Influence of Sociology</li><li>Removing Disability</li></ul>
			<h3>Resources</h3>
			<ul class="website"><li><a title="Purchase Distinctive Design!" href="http://www.amazon.com/dp/1119992982/">Purchase</a></li><li><a title="Preview Distinctive Design!" href="http://books.google.com/books?id=3Zu0_UZkGtYC&amp;printsec=frontcover">Book Preview</a></li><li><a title="Visit the Distinctive Design site!" href="http://eu.wiley.com/WileyCDA/WileyTitle/productCd-1119992982,descCd-description.html">Visit Website</a></li></ul>
		</div>
		<div id="writing_gsbw">
			<h2><em><abbr title="Getting StartED">GS:</abbr></em> Building Websites</h2>
			<p>Getting StartED Building Websites is my first book on the subject of web design for beginners. It's a whopping 688 pages and covers a wide range of important subjects.</p>
			<h3>Audience</h3>
			<p>This is a great book to start with if you want to build a website but have no idea what you need to learn or where you should start. It covers the basics in simple steps.</p>
			<h3>Information</h3>
			<p>Using a unique process, this book will teach you best practices while ensuring you don't lose sight of the bigger picture, you'll soon be building sites like a professional!</p>
			<h3>Subjects</h3>
			<ul class="list"><li>Project Planning</li><li>Content Writing</li><li>Coding (x)HTML</li><li>Hosting &amp; Domains</li><li>Styling With CSS</li><li>Images &amp; Media</li><li>Problem Solving</li><li>Scripting Basics</li><li>User-Experience</li><li>SEO &amp; Marketing</li></ul>
			<h3>Resources</h3>
			<ul class="website"><li><a title="Purchase Getting StartED Building Websites!" href="http://www.amazon.com/dp/1430225173/">Purchase</a></li><li><a title="Preview Getting StartED Building Websites!" href="http://books.google.com/books?id=tIGeXUdJxbUC&amp;printsec=frontcover">Book Preview</a></li><li><a title="Visit the Getting StartED Building Websites site!" href="http://www.friendsofed.com/book.html?isbn=9781430225171">Visit Website</a></li></ul>
		</div>
		<div id="writing_sptw">
			<h2><em>Thinking</em> Web</h2>
			<p>The free community eBook project was forged upon an idea I had. I helped to manage the project, did some technical editing and even contributed two useful chapters.</p>
			<h3>Audience</h3>
			<p>This great eBook was produced by SitePoint to showcase and utilize the knowledge and spirit of it's community. The content reflects this, covering numerous subjects.</p>
			<h3>Information</h3>
			<p>With content provided by myself and other designers, developers, authors and professionals, it's all worth reading. My two chapters cover accessibility and UX design.</p>
			<h3>Subjects</h3>
			<ul class="list"><li>Preface (<abbr title="Sarah Hawk">Author</abbr>)</li><li>Anatomy of a site (<abbr title="Ralph Mason">Author</abbr>)</li><li>Designing in the Dark (<abbr title="Alexander Dawson">Me</abbr>)</li><li>Everything Must Go (<abbr title="Alexander Dawson">Me</abbr>)</li><li>Going Freelance (<abbr title="John Borda">Author</abbr>)</li><li>PSD to HTML (<abbr title="Paul O'Brien">Author</abbr>)</li><li>Safe Email Markup (<abbr title="Coyote Holmberg">Author</abbr>)</li><li>Make Sites Stand Out (<abbr title="Ursula Comeau">Author</abbr>)</li><li>Data Organization (<abbr title="Sherry Curry">Author</abbr>)</li><li>Using Vectors (<abbr title="Clive Wickham">Author</abbr>)</li><li>Efficient Actionscript (<abbr title="Christian Snodgrass">Author</abbr>)</li><li>DB: Basic Concepts (<abbr title="Nuria Zuazo">Author</abbr>)</li><li>The Iceberg of TCP/IP (<abbr title="Robert Wellock">Author</abbr>)</li></ul>
			<h3>Resources</h3>
			<ul class="website"><li><a title="Request Free eBook from Sitepoint!" href="http://www.sitepoint.com/bookstore/go/284/">Request</a></li><li><a title="Visit the Thinking Web eBooks website!" href="http://blogs.sitepoint.com/thinking-web-voices-of-the-community/">Visit Website</a></li></ul>
		</div>
		<div id="writing_smde">
			<h2><em>Pro Web Design</em> Vol.2</h2>
			<p>Another co-authored eBook, this one has an article, first published on the Smashing Magazine site, about how users are turning into the anonymous web designer.</p>
			<h3>Audience</h3>
			<p>If you want to learn what part users have to play in the overall design and development of a site and it's interface. My article (in this eBook) is just what you need!</p>
			<h3>Information</h3>
			<p>Apart from the content I provide, there is a whole lot of additional material by other designers in the field. This isn't a one man show, it's a collection of fantastic work.</p>
			<h3>Subjects</h3>
			<ul class="list"><li>Design for Delight (<abbr title="Vitaly Friedman">Author</abbr>)</li><li>Keypress Navigation (<abbr title="Vitaly Friedman">Author</abbr>)</li><li>Print Influence (<abbr title="Vitaly Friedman">Author</abbr>)</li><li>Horizontalism (<abbr title="Vitaly Friedman">Author</abbr>)</li><li>Real-Life Metaphors (<abbr title="Vitaly Friedman">Author</abbr>)</li><li>Subtle Interactivity (<abbr title="Vitaly Friedman">Author</abbr>)</li><li>Context-Sensitive (<abbr title="Vitaly Friedman">Author</abbr>)</li><li>Rapid Adaptation (<abbr title="Vitaly Friedman">Author</abbr>)</li><li>Responsive Design (<abbr title="Kayla Knight">Author</abbr>)</li><li>Design Showcase (<abbr title="Kayla Knight">Author</abbr>)</li><li>Persuasion Triggers (<abbr title="David Travis">Author</abbr>)</li><li>HTML5 &amp; CSS3 Today (<abbr title="Vitaly Friedman">Author</abbr>)</li><li>Facts &amp; Myths (<abbr title="Bruce Lawson, Remy Sharp">Authors</abbr>)</li><li>Anonymous Designer (<abbr title="Alexander Dawson">Me</abbr>)</li><li>The Design Matrix (<abbr title="Bridget Fahrland">Author</abbr>)</li><li>Deep As It Is Usable (<abbr title="Louis Lazaris">Author</abbr>)</li><li>Don't Do It Alone (<abbr title="Paul Boag">Author</abbr>)</li><li>Committee Must Die (<abbr title="Speider Schneider">Author</abbr>)</li><li>Rapid Prototyping (<abbr title="Lyndon Cerejo">Author</abbr>)</li><li>Worth a Picture (<abbr title="Felicity Evans">Author</abbr>)</li></ul>
			<h3>Resources</h3>
			<ul class="website"><li><a title="Purchase Design eBook from Smashing Magazine!" href="https://shop.smashingmagazine.com/smashing-ebook-web-design-2-eu.html">Purchase</a></li><li><a title="Sample the Smashing Design eBook!" href="https://shop.smashingmagazine.com/downloadable/download/sample/sample_id/28/">Book Sample</a></li><li><a title="Visit the Smashing Design eBooks website!" href="http://www.smashingmagazine.com/2011/02/23/new-smashing-ebooks-professional-design-web-typography-sm-book-1/">Visit Website</a></li></ul>
		</div>
		<div id="writing_smme">
			<h2><em>Mobile Design</em> for iOS</h2>
			<p>My first co-authored eBook title, this Smashing Magazine Mobile title contains a exclusive 90+ page report authored by me on mobile design trends and best practices.</p>
			<h3>Audience</h3>
			<p>If you want to understand what other major sites do to culture a mobile friendly experience, this report is for you. It contains over 50 independent sets of results!</p>
			<h3>Information</h3>
			<p>Tested on the top 100 sites and some others within the top 1,000 (for verifying results), you'll gain a fantastic insight into what the average mobile website looks like.</p>
			<h3>Subjects</h3>
			<ul class="list"><li>Mobile Web Trends (<abbr title="Steven Snell">Author</abbr>)</li><li>Tips &amp; Best Practices (<abbr title="Cameron Chapman">Author</abbr>)</li><li>How To Build A Site (<abbr title="John Raasch">Author</abbr>)</li><li>Develop for iDevices (<abbr title="Nick Francis">Author</abbr>)</li><li>First iPhone App (<abbr title="Jen Gordon">Author</abbr>)</li><li>iPhone App Trends (<abbr title="Jen Gordon">Author</abbr>)</li><li>App Design Reviews (<abbr title="Alex Komarov">Author</abbr>)</li><li>App Design Mistakes (<abbr title="Alexander Komarov">Author</abbr>)</li><li>Useful iPad App Tips (<abbr title="Jen Gordon">Author</abbr>)</li><li>Make It A Web App (<abbr title="Kim Pimmel">Author</abbr>)</li><li>CSS3 Media Queries (<abbr title="Rachel Andrew">Author</abbr>)</li><li>Forms on Devices (<abbr title="Luke Wroblewski">Author</abbr>)</li><li>Photoshop for Web (<abbr title="Marc Edwards">Author</abbr>)</li><li>Market Mobile App (<abbr title="Michael Flarup">Author</abbr>)</li><li>Trends in Mobile Design (<abbr title="Alexander Dawson">Me</abbr>)</li></ul>
			<h3>Resources</h3>
			<ul class="website"><li><a title="Purchase Mobile eBook from Smashing Magazine!" href="https://shop.smashingmagazine.com/smashing-ebook-mobile-design-eu.html">Purchase</a></li><li><a title="Preview the Smashing Mobile eBook!" href="https://docs.google.com/viewer?url=http://media.smashingmagazine.com/cdn_smash/wp-content/uploads/2010/11/smashing-ebook-4-sample1.pdf">Book Preview</a></li><li><a title="Visit the Smashing Mobile eBooks website!" href="http://www.smashingmagazine.com/2010/11/03/ebook-4-mobile-design-for-iphone-and-ipad/">Visit Website</a></li></ul>
		</div>
		<div id="writing_fm">
			<h2><em>Freelance</em> Mingle</h2>
			<p>I write articles about web design and development for various web magazines, journals and blogs as I get the time. Below you can find links to all of my published work.</p>
			<h3>Articles</h3>
			<ul class="website"><li><a title="Check out the Freelancing In Education article!" href="http://freelancemingle.com/blog/general/promoting-freelancing-in-education/">Freelancing In Education</a></li></ul>
		</div>
		<div id="writing_fs">
			<h2><em>Freelance</em> Switch</h2>
			<p>I write articles about web design and development for various web magazines, journals and blogs as I get the time. Below you can find links to all of my published work.</p>
			<h3>Articles</h3>
			<ul class="website">
				<li><a title="Check out the Guide to Better Freelance Health article!" href="http://freelanceswitch.com/freelancing-essentials/a-guide-to-better-freelance-health/">Better Freelance Health</a></li>
				<li><a title="Check out the First Steps to Freelance Freedom article!" href="http://freelanceswitch.com/start/getting-started-the-first-steps-to-freelance-freedom/">Freelance Freedom</a></li>
				<li><a title="Check out the Freelancers Should Never Retire article!" href="http://freelanceswitch.com/general/why-freelancers-should-never-retire/">Why We Shouldn't Retire</a></li>
				<li><a title="Check out the Successful Client Relationship article!" href="http://freelanceswitch.com/clients/successful-client-relationship/">Successful Relationships</a></li>
				<li><a title="Check out the Benefits of Business Networking article!" href="http://freelanceswitch.com/finding/benefits-of-business-networking/">Business Networking</a></li>
			</ul>
		</div>
		<div id="writing_oxp">
			<h2><em>OneXtra</em> Pixel</h2>
			<p>I write articles about web design and development for various web magazines, journals and blogs as I get the time. Below you can find links to all of my published work.</p>
			<h3>Articles</h3>
			<ul class="website">
				<li><a title="Check out the Instant Attention in Design article!" href="http://www.onextrapixel.com/2011/05/27/instant-attention-in-web-design/">Instant Attention in Design</a></li>
				<li><a title="Check out The Hollywood Effect article!" href="http://www.onextrapixel.com/2011/05/10/the-hollywood-effect-direct-to-the-web/">The Hollywood Effect</a></li>
				<li><a title="Check out the Showcasing Skill in Design article!" href="http://www.onextrapixel.com/2011/04/21/showcasing-skills-in-web-design/">Showcasing Skill in Design</a></li>
				<li><a title="Check out the Paths to Better Screenshots article!" href="http://www.onextrapixel.com/2011/03/25/creative-paths-to-better-screenshots/">Creative Screenshots</a></li>
				<li><a title="Check out the Best Practices for Mobile App Sites article!" href="http://www.onextrapixel.com/2011/03/02/best-practices-for-mobile-app-sites/">Best Practices for App Sites</a></li>
				<li><a title="Check out the Enhancing Brands in Web Designs article!" href="http://www.onextrapixel.com/2011/01/31/enhancing-brands-within-web-designs/">Enhance Brands in Design</a></li>
				<li><a title="Check out the CSS Pitfalls for Designers to Avoid article!" href="http://www.onextrapixel.com/2011/01/12/css-pitfalls-for-web-designers-to-avoid/">CSS Pitfalls To Avoid</a></li>
				<li><a title="Check out the Designing Large Documents article!" href="http://www.onextrapixel.com/2010/12/16/structure-your-web-content-designing-large-documents/">Designing Big Documents</a></li>
				<li><a title="Check out The Laws of the Digital Jungle article!" href="http://www.onextrapixel.com/2010/12/09/understanding-the-laws-of-the-digital-jungle/">Laws of the Digital Jungle</a></li>
				<li><a title="Check out the Design Lessons From An iDevice article!" href="http://www.onextrapixel.com/2010/11/04/web-design-lessons-from-an-idevice/">Lessons From An iDevice</a></li>
				<li><a title="Check out The Beauty of Alternatives article!" href="http://www.onextrapixel.com/2010/10/21/progressive-enhancement-the-beauty-of-alternatives/">The Beauty of Alternatives</a></li>
				<li><a title="Check out the Empower Your Users article!" href="http://www.onextrapixel.com/2010/10/04/user-experience-using-empathy-to-empower-your-users/">Empower Your Users</a></li>
				<li><a title="Check out the Planning and Prototypes article!" href="http://www.onextrapixel.com/2010/09/27/web-project-pragmatic-prompt-planning-prototypes/">Planning and Prototypes</a></li>
				<li><a title="Check out the Eco Web Designer article!" href="http://www.onextrapixel.com/2010/09/17/how-to-become-an-eco-web-designer/">Become an Eco Designer</a></li>
				<li><a title="Check out the Cost VS Speed VS Quality article!" href="http://www.onextrapixel.com/2010/09/07/web-project-weighing-cost-vs-speed-vs-quality/">Cost VS Speed VS Quality</a></li>
				<li><a title="Check out the Reboot or Just Upgrade Instead article!" href="http://www.onextrapixel.com/2010/08/27/web-design-reboot-or-just-upgrade-instead/">Reboot, or Upgrade?</a></li>
			</ul>
		</div>
		<div id="writing_sp">
			<h2><em>SitePoint</em> Articles</h2>
			<p>I write articles about web design and development for various web magazines, journals and blogs as I get the time. Below you can find links to all of my published work.</p>
			<h3>Articles</h3>
			<ul class="website"><li><a title="Check out The Right Frame of Mind article!" href="http://articles.sitepoint.com/article/applying-lessons-from-css-frameworks/">The Right Frame of Mind</a></li></ul>
		</div>
		<div id="writing_sr">
			<h2><em>Six</em> Revisions</h2>
			<p>I write articles about web design and development for various web magazines, journals and blogs as I get the time. Below you can find links to all of my published work.</p>
			<h3>Articles</h3>
			<ul class="website">
				<li><a title="Check out the 5 Little-Known Web Files article!" href="http://sixrevisions.com/web-development/5-little-known-web-files-that-can-enhance-your-website/">5 Little-Known Web Files</a></li>
				<li><a title="Check out the Guide to CSS Colors article!" href="http://sixrevisions.com/css/colors-webdesign/">A Guide to CSS Colors</a></li>
				<li><a title="Check out The Evolution of Web article!" href="http://sixrevisions.com/web_design/the-evolution-of-internet-enabled-devices/">Evolution of Web Devices</a></li>
				<li><a title="Check out the Smarter Web Designs article!" href="http://sixrevisions.com/web_design/smarter-web-designs-responsive-and-customizable/">Smarter Web Designs</a></li>
				<li><a title="Check out the Designing for Different Age Groups article!" href="http://sixrevisions.com/web_design/designing-for-different-age-groups/">Designing for Ages</a></li>
				<li><a title="Check out the Communication Tips article!" href="http://sixrevisions.com/content-strategy/effective-communication-tips-for-web-designers/">Communication Tips</a></li>
				<li><a title="Check out the Progressive Disclosure article!" href="http://sixrevisions.com/user-interface/progressive-disclosure-in-user-interfaces/">Progressive Disclosure</a></li>
				<li><a title="Check out the IE9 is a Designers Nightmare article!" href="http://sixrevisions.com/web_design/why-ie9-is-a-web-designers-nightmare/">IE9: Designers Nightmare</a></li>
				<li><a title="Check out the Importance of Historiography article!" href="http://sixrevisions.com/content-strategy/the-importance-of-historiography-on-the-web/">Important Historiography</a></li>
				<li><a title="Check out the Situational Design article!" href="http://sixrevisions.com/web_design/situational-design-for-the-web/">Situational Design</a></li>
				<li><a title="Check out the Ultimate Microformats Guide article!" href="http://sixrevisions.com/web-development/ultimate-guide-to-microformats-reference-and-examples/">Microformats Guide</a></li>
				<li><a title="Check out the 60 Questions to Consider article!" href="http://sixrevisions.com/web_design/60-questions-to-consider-when-designing-a-website/">60 Questions to Consider</a></li>
				<li><a title="Check out the 100 Useful CSS Tips and Tricks article!" href="http://sixrevisions.com/css/100-exceedingly-useful-css-tips-and-tricks/">100 Useful CSS Tips</a></li>
				<li><a title="Check out the Human Behavior Theories article!" href="http://sixrevisions.com/usabilityaccessibility/human-behavior-theories-that-can-be-applied-to-web-design/">Human Behaviour Theories</a></li>
				<li><a title="Check out the Privacy and the User Experience article!" href="http://sixrevisions.com/usabilityaccessibility/privacy-and-the-user-experience/">Privacy and the UX</a></li>
				<li><a title="Check out the Ways To Horrify Web Designers article!" href="http://sixrevisions.com/web_design/ways-to-horrify-website-designers/">Horrify Website Designers</a></li>
				<li><a title="Check out the Become A Better Web Designer article!" href="http://sixrevisions.com/project-management/becoming-a-better-web-designer/">Become A Better Designer</a></li>
				<li><a title="Check out The A-Z List for Web Designers article!" href="http://sixrevisions.com/web_design/the-a-z-list-for-web-designers/">A-Z List for Web Designers</a></li>
				<li><a title="Check out the Evolution of Websites article!" href="http://sixrevisions.com/web-technology/evolution-of-websites-a-darwinian-tale/">Evolution of Websites</a></li>
				<li><a title="Check out The Science Behind A Single Page Site article!" href="http://sixrevisions.com/web_design/the-science-behind-a-single-page-website/">Behind A Single Page Site</a></li>
				<li><a title="Check out the Studying Museums article!" href="http://sixrevisions.com/usabilityaccessibility/improve-site-usability-by-studying-museums/">Improve Site Usability...</a></li>
				<li><a title="Check out the Guide Inside Your Head article!" href="http://sixrevisions.com/web-standards/a-comprehensive-guide-inside-your/">Inside Your &lt;head&gt;</a></li>
				<li><a title="Check out the CSS3 Card Trick article!" href="http://sixrevisions.com/css/css3-card-trick-a-fun-css3-experiment/">A Fun CSS3 Experiment</a></li>
				<li><a title="Check out the Designing By Numbers article!" href="http://sixrevisions.com/web_design/designing-by-numbers-data-analysis-for-web-designers/">Designing By Numbers</a></li>
				<li><a title="Check out the Mobile: Best Practices article!" href="http://sixrevisions.com/web-development/mobile-web-design-best-practices/">Mobile: Best Practices</a></li>
				<li><a title="Check out The Art of Distinction article!" href="http://sixrevisions.com/web_design/the-art-of-distinction-in-web-design/">The Art of Distinction</a></li>
				<li><a title="Check out the Reductionism in Design article!" href="http://sixrevisions.com/web_design/reductionism-in-web-design/">Reductionism in Design</a></li>
				<li><a title="Check out The Web's Undead article!" href="http://sixrevisions.com/web-technology/the-webs-undead/">The Web's Undead</a></li>
				<li><a title="Check out the Guide on Layout Types article!" href="http://sixrevisions.com/web_design/a-guide-on-layout-types-in-web-design/">Guide on Layout Types</a></li>
				<li><a title="Check out the 5 Web Files For Your Site article!" href="http://sixrevisions.com/web-standards/5-web-files-that-will-improve-your-website/">5 Web Files For Your Site</a></li>
				<li><a title="Check out the 250 Quick Web Design Tips articles!" href="http://sixrevisions.com/web_design/250-quick-web-design-tips-part-1/">250 Quick Web Design Tips</a></li>
				<li><a title="Check out the Web Languages Decoded article!" href="http://sixrevisions.com/web-technology/web-languages-decoded/">Web Languages: Decoded</a></li>
				<li><a title="Check out the Sexy Tooltips with CSS article!" href="http://sixrevisions.com/css/css-only-tooltips/">Sexy Tooltips with CSS</a></li>
				<li><a title="Check out the Web Validation Problems article!" href="http://sixrevisions.com/web-standards/problems-with-using-website-validation-services/">Web Validation Problems</a></li>
				<li><a title="Check out the Semantic CSS3 Lightboxes article!" href="http://sixrevisions.com/css/semantic-css3-lightboxes/">Semantic CSS3 Lightboxes</a></li>
				<li><a title="Check out The Anatomy of a Website article!" href="http://sixrevisions.com/web-technology/anatomy-of-a-website/">The Anatomy of a Website</a></li>
			</ul>
		</div>
		<div id="writing_sm">
			<h2><em>Smashing</em> Magazine</h2>
			<p>I write articles about web design and development for various web magazines, journals and blogs as I get the time. Below you can find links to all of my published work.</p>
			<h3>Articles</h3>
			<ul class="website">
				<li><a title="Check out the Study of Trends in Mobile Design article!" href="http://www.smashingmagazine.com/2010/12/02/a-study-of-trends-in-mobile-design/">Trends in Mobile Design</a></li>
				<li><a title="Check out The Anonymous Designer article!" href="http://www.smashingmagazine.com/2010/10/14/the-user-is-the-anonymous-web-designer/">The Anonymous Designer</a></li>
				<li><a title="Check out the Chess for Success in Web Design article!" href="http://www.smashingmagazine.com/2010/09/03/checkmate-chess-for-success/">Web Design Checkmate</a></li>
				<li><a title="Check out The Artist, Scientist and Philosopher article!" href="http://www.smashingmagazine.com/2010/07/09/web-designer-as-the-artist-scientist-and-philosopher/">Web Designer As...</a></li>
			</ul>
		</div>
		<div id="writing_uxb">
			<h2><em>UX</em> Booth</h2>
			<p>I write articles about web design and development for various web magazines, journals and blogs as I get the time. Below you can find links to all of my published work.</p>
			<h3>Articles</h3>
			<ul class="website"><li><a title="Check out the How Choice Impairs your Visitors article!" href="http://www.uxbooth.com/blog/how-choice-impairs-your-visitors/">Choice Impairs Visitors</a></li></ul>
		</div>
		<div id="writing_uxm">
			<h2><em>UX</em> Magazine</h2>
			<p>I write articles about web design and development for various web magazines, journals and blogs as I get the time. Below you can find links to all of my published work.</p>
			<h3>Articles</h3>
			<ul class="website"><li><a title="Check out The Invisibility of Disability article!" href="http://uxmag.com/strategy/the-invisibility-of-disability">The Invisibility of Disability</a></li></ul>
		</div>
		<div id="writing_wdd">
			<h2><em>Web Designer</em> Depot</h2>
			<p>I write articles about web design and development for various web magazines, journals and blogs as I get the time. Below you can find links to all of my published work.</p>
			<h3>Articles</h3>
			<ul class="website"><li><a title="Check out the Saturation in Design article!" href="http://www.webdesignerdepot.com/2011/04/saturation-in-web-design/">Saturation in Design</a></li></ul>
			<ul class="website"><li><a title="Check out The Browser Testing: A Family Tree article!" href="http://www.webdesignerdepot.com/2010/05/browser-testing-a-family-tree/">Browser Testing</a></li></ul>
		</div>
		<div id="contact">
			<h2><em>Get In</em> Contact</h2>
			<p>If you want a proposal or <dfn title="I offer both Hourly and Fixed rates.">quote</dfn> for work, if you want to send me a <dfn title="Give me all the details you can!">message</dfn> or even if you just want to follow me, click the <dfn title="Use whichever method you prefer.">appropriate</dfn> link as below. It couldn't be easier!</p>
			<h3>Contact</h3>
			<ul>
				<li class="email"><a href="mailto:alex@hitechy.com" title="Send me an email (Opens your default client)">Home</a><span class="print">Home: Alex@hitechy.com</span></li>
				<li class="email"><a href="mailto:Support@hitechy.com?subject=HiTechy Support Request" title="Send HiTechy an email (Opens your default client)">Work</a><span class="print">Work: Support@hitechy.com</span></li>
				<li class="skype"><a href="skype:AlexDawsonUK?chat" title="Contact me using Skype">Skype</a><span class="print">Skype: AlexDawsonUK</span></li>
				<li class="messenger"><a href="msnim:chat?contact=Alex@ad2k.net" title="Send me an instant message">Messenger</a><span class="print">Messenger: Alex@ad2k.net</span></li>
				<li class="gtalk"><a href="gtalk:chat?jid=AlexUK@gmail.com" title="Contact me using Google Talk">Google<span class="print">Google Talk: AlexUK@gmail.com</span></a></li>
				<li class="vcard"><a href="vCard.vcf" title="Download my vCard">vCard</a></li>
			</ul>
			<h3>Follow</h3>
			<ul>
				<li class="syndication"><a href="/feed/rss.xml" title="Subscribe to my feed">Syndication</a><span class="print">Syndication: http://www.hitechy.com/feed/rss.xml</span></li>
				<li class="twitter"><a href="http://twitter.com/AlexDawsonUK" title="Follow my Twitter feed">Twitter</a><span class="print">Twitter: http://twitter.com/AlexDawsonUK</span></li>
				<li class="google"><a href="http://www.google.com/profiles/alexuk" title="Visit my Google profile">Google+</a><span class="print">Google+: http://www.google.com/profiles/alexuk</span></li>
				<li class="lanyrd"><a href="http://lanyrd.com/people/alexdawsonuk" title="Check conferences I'm attending">Lanyrd</a><span class="print">Lanyrd: http://lanyrd.com/people/alexdawsonuk</span></li>
				<li class="linkedin"><a href="http://uk.linkedin.com/in/alexdawsonuk" title="View my LinkedIn profile">LinkedIn</a><span class="print">LinkedIn: http://uk.linkedin.com/in/alexdawsonuk</span></li>
				<li class="stumbleupon"><a href="http://ad2k.stumbleupon.com" title="Visit websites I StumbleUpon">StumbleUpon</a><span class="print">StumbleUpon: http://ad2k.stumbleupon.com</span></li>
			</ul>
		</div>
	</div>
	<div id="copy"><p>Copyright &copy; <dfn title="A website by Alexander Dawson.">HiTechy</dfn>, <dfn title="AD2K-Ware Studios (1998 - 2006).">2007 - 2011</dfn>, <dfn title="Please don't steal, be inspired instead!">Some Rights Reserved</dfn>.</p></div>
</div>

<script type="text/javascript" charset="utf-8">
  <% content_for :butt2 do %>
  $(window).resize(function() {
      $('#home').height($(window).height() - $('#home').offset().top);
  });
  $(window).resize();
  <% end %>
</script>