<% content_for :armpit do %>
  <%= stylesheet_link_tag "about" %>
<% end %>
<div id="home" class="__abt">
	<div id="main">
		<h1><span>Brick by brick... </span><a href="#ktv">课件交流系统</a> <em>We make it happen.</em></h1>
		<ul>
			<li><a  href="#minqi"><em>工程师</em> 潘旻琦</a></li>
			<li><a  href="#liber"><em>工程师</em> 刘理博</a></li>
			<li><a  href="#sounder"><em>工程师</em> 刘晟源</a></li>
			<li><a  href="#zongzhen"><em>工程师</em> 刘总真</a></li>
			<li><a  href="#jiayu"><em>线下业务</em> 张家雨</a></li>
			<li><a  href="#luda"><em>产品经理</em> 卢达</a></li>
			<li><a  href="#yafei"><em>运营</em> 邱亚飞</a></li>
		</ul>
	</div>
	<div id="primary">
		<div id="ktv">
			<h2>Kejian<em>.TV</em></h2>
			<p>Kejian.TV 课件交流系统是中国最大的教育资源在线集散平台，同时，课件交流系统也是最专业的中文在线学习社区。</p>
			<p>当然，目前这些仅是愿景，但我们正为此目标而不懈奋斗。</p>
			<p>请点击左侧栏了解我们的团队。</p>
		</div>
		<div id="minqi">
			<h2>潘旻琦 <em style="font-size:12px">工程师 & CTO</em></h2>
			<p>首都师范大学数学科学学院四年级学生. </p>
			<h3>简历</h3>
			<ul class="website">
			 <li><a href="/resumes/psvr.pdf" title="My Resume">下载简历 (PDF)</a></li>
			</ul>
			<h3>联系方式</h3>
			<ul>
        <li class="email"><a title="Send me an email (Opens your default client)"   href="mailto:pmq2001@gmail.com">电子邮箱</a></li>
        <li class="twitter"><a title="Follow my Twitter feed" href="https://twitter.com/psvr">Twitter</a></li>
        <li class="linkedin"><a title="View my LinkedIn profile" href="http://www.linkedin.com/profile/view?id=73526537">LinkedIn</a><span class="print">LinkedIn: http://www.linkedin.com/profile/view?id=73526537</span></li>
			</ul>
		</div>
		<div id="liber">
			<h2>刘理博 <em style="font-size:12px">工程师</em></h2>
			<p>北京科技大学计算机与通信工程学院四年级学生. </p>
			<h3>联系方式</h3>
			<ul>
        <li class="email"><a title="Send me an email (Opens your default client)"   href="mailto:llb0536@gmail.com">电子邮箱</a></li>
        <li class="twitter"><a title="Follow my Twitter feed" href="https://twitter.com/LiberSnail">Twitter</a></li>
			</ul>
		</div>
		
		<div id="sounder">
			<h2>刘晟源 <em style="font-size:12px">工程师</em></h2>
			<p>中国科学院软件研究所硕士. </p>
			<h3>联系方式</h3>
			<ul>
        <li class="email"><a title="Send me an email (Opens your default client)"   href="mailto:sounder_liu@163.com">电子邮箱</a></li>
			</ul>
		</div>
		
		<div id="zongzhen">
			<h2>刘总真 <em style="font-size:12px">工程师</em></h2>
			<p>中国科学院计算机网络信息中心硕士. </p>
			<h3>联系方式</h3>
			<ul>
        <li class="email"><a title="Send me an email (Opens your default client)"   href="mailto:alwaysreal_liu@163.com">电子邮箱</a></li>
			</ul>
		</div>
		<div id="jiayu">
			<h2>张家雨 <em style="font-size:12px">线下业务</em></h2>
			<p>首都师范大学数学科学学院四年级学生. </p>
			<h3>联系方式</h3>
			<ul>
        <li class="email"><a title="Send me an email (Opens your default client)"   href="mailto:jiayu_1129@126.com">电子邮箱</a></li>
			</ul>
		</div>
		
		<div id="xiaobin">
			<h2>吴晓斌 <em style="font-size:12px">设计师</em></h2>
			<p>北京科技大学校友. </p>
		</div>
		<div id="yafei">
			<h2>邱亚飞 <em style="font-size:12px">运营</em></h2>
			<p>北京科技大学四年级学生. </p>
			<h3>联系方式</h3>
			<ul>
        <li class="email"><a title="Send me an email (Opens your default client)"   href="mailto:740720618@qq.com">电子邮箱</a></li>
			</ul>
		</div>
		<div id="luda">
			<h2>卢达 <em style="font-size:12px">产品经理</em></h2>
			<p>智联招聘产品经理。 前DHgate用户体验工程师。</p>
			<h3>联系方式</h3>
			<ul>
        <li class="email"><a title="Send me an email (Opens your default client)"   href="mailto:luda514@163.com">电子邮箱</a></li>
        <li class="linkedin"><a title="View my LinkedIn profile" href="http://www.linkedin.com/profile/view?id=127697566">LinkedIn</a><span class="print">LinkedIn: http://www.linkedin.com/profile/view?id=127697566</span></li>
			</ul>
		</div>
	</div>
  <%= render file:'/application/footers/_abt_footer' %>
</div>

<script type="text/javascript" charset="utf-8">
  <% content_for :butt2 do %>
  $(window).resize(function() {
      $('#home').height($(window).height() - $('#home').offset().top);
  });
  $(window).resize();
  <% end %>
</script>
