

<div class="__zm">
  <div id="pagewrap">


    <div id="header" style="position:static">

        <div class="headerContainer cf" id="zm_header">


        <div class="navigator yahe cf">
        <ul>
          <li class="current"><a href="/">最新动态</a></li>
          <li class="dot"></li>
          <li><a href="/tagChannel/271/0/0/m/">所有课程</a></li>
        </ul>
        </div>
        </div>
        <% content_for :butt2 do %>
        // 用于添加新资源
        im("#addBs").die().live("click", function () {
            openAddDialog(this);
        });
        im.zm.fnDropmenu($('#header li'), 'navhover'); //导航菜单实现
        <% end %>
    </div>



  <div id="content" class="themeContent" style="margin-top:18px">
  <div id="cols_0" class="column firstCol"></div><!-- /cols_0 -->
  <div id="cols_1" class="column"></div>
  <div id="cols_2" class="column"></div>
  <div id="cols_3" class="column lastCol"></div>
  </div>
  </div>
  <div id="loadMore" class="frmore" style="display:none;"><a>查看更多</a></div>
  <div id="imloading" class="imfootloading" style="visibility:hidden;"><div class="loading">正在加载，请稍候...</div></div>
  <div id="firstload" class="firstload" style="" data-top-gonna-be="188">加载中...</div>

<script type="text/javascript">

<% content_for :butt2 do%>
$(function () {
  
    // --------------------------------------------------------------------------------------
    // action start!
    // --------------------------------------------------------------------------------------
    $("#firstload").css({
        "top": $("#firstload").data('top-gonna-be')
    }); //定位初次加载提示垂直位置
    $("#uploadToTitle").live("click", function () {
        var loginUserId = 1141902;
        if (loginUserId == 0) {
            var _path = window.location.pathname;
            var flag = consts("REGIST_TYPE_STATION_GET");
            window.location.href = "/login" + "?flag=" + flag + "&p=" + _path;
            return;
        }
        ShareDialog.add.open();
        ShareDialog.add.changTab(1);
        ShareDialog.add.setSubject('#毛茸茸#');
        $("#insertTheme0").addClass("off");
    });
    var linkUrl = "/coursewares",
        jsonUrl = "/coursewares_with_page";
    autoLayout.init({
        contentID: "content",
        linkUrl: linkUrl,
        noText: "mainempty",
        cols: [$("#cols_0"), $("#cols_1"), $("#cols_2"), $("#cols_3")],
        isPosition: false,
        dataContent: "",
        colName: "#cols_",
        callBack: function () {
            if (!autoLayout.isFirst) {
                $(".notelayer").show();
            }
        }
    });
    $("#loadMore").die().live("click", function () {
        $("#gradientLayerDiv").hide();
        jsonUrl = "/coursewares_with_page/" + (autoLayout.pageNum++);
        $("#loadMore").hide();
        autoLayout.init(jsonUrl);
    })
    autoLayout.eachAction();
});

function shareWindow(sync_type, uri) {
    var param = "";
    var paramName = "";
    if (sync_type == "sina") {
        uri = uri.replace('sina_title', encodeURIComponent($("#input_sinatitle").val()));
        param = "height=500, width=600";
    }
    if (sync_type == "renren") {
        uri = uri.replace('renren_title', encodeURIComponent($("#input_renrenTitle").val()));
        param = "height=500, width=600";
    }
    if (sync_type == "qqt") {
        uri = uri.replace('qqt_title', encodeURIComponent($("#input_qqtTitle").val()));
        param = "height=500, width=750";
    }
    if (sync_type == "qzone") {
        uri = uri.replace('qzone_title', encodeURIComponent($("#input_qzoneTitle").val()));
        uri = uri.replace('descContent', '');
        uri = uri.replace('summaryContent', encodeURIComponent("知美网，找到真正想要的 —— 购物分享社区"));
        param = "height=600, width=650";
    }
    if (param != "") {
        window.open(uri, '', param + ', toolbar =NO, menubar=no, scrollbars=no, resizable=no, location=no, status=no');
    }
}

<% end %>

</script>
</div>


<%= render 'flo_footer' %>
