<% content_for :armpit do %>
  <%= stylesheet_link_tag "ktv/__zm_sur", :media => "all" %>
<% end %>
<% content_for :body_style do %>background: none repeat scroll 0 0 #F0EEEE<% end %>
<%= render file:'/application/headers/_zm_header' %>


<div class="__zm">
<div id="wrapper">
<div class="item cf" style="margin-top:18px">

<div id="rightcolumn">
<!-- split -->
<div class="surprise-mod">
<h2 class="sur-bg"></h2>
<div class="luckynum">
<p>本日幸运指数
<span class="qa sur-bg" id="zm-surqa">
<span class="sur-bg">
<a href="/page/integral_person">用户攻略</a><br />
<a href="/page/integral_shop" >商家攻略</a><br />
<a href="/page/integral_surprise">开奖规则</a><br />

</span>
</span>
</p>
<p><b>202402792023</b></p>
</div>
<div class="sur-bg sur-bottom"></div>
</div>
<!-- split -->
<div class="broadcast-mod">
<h2>实时获奖播报</h2>
<ul class="cf">

<li>
<a class="avatar" href="/profile/1277103" target="_blank" usercard="1277103" havecard="1"><img href="#" src="http://b3.imimg.cn/20120716/986a/f84e/48496603277.3.30.30.jpg" /></a>
<p class="profile"><a class='username' href='http://www.zhimei.com/profile/1277103' title='梁叶不叫梁叶叫蘑菇' target='_blank' usercard='1277103' havecard='1'>梁叶不叫梁叶叫蘑</a> 获得了<a class='award' href='http://www.zhimei.com/share/4188088' title='[金格雅娇]冰点补水面膜' target='_blank'>[金格雅娇]冰点补水面膜</a></p>
</li>

<li>
<a class="avatar" href="/profile/1249460" target="_blank" usercard="1249460" havecard="1"><img href="#" src="http://b4.imimg.cn/20120715/dd8a/b93e/25130324394.3.30.30.jpg" /></a>
<p class="profile"><a class='username' href='http://www.zhimei.com/profile/1249460' title='很好122' target='_blank' usercard='1249460' havecard='1'>很好122</a> 获得了<a class='award' href='http://www.zhimei.com/share/1604537' title='[古灵精怪]趴趴猫手机壳' target='_blank'>[古灵精怪]趴趴猫手机壳</a></p>
</li>

</ul>
<div class="more"><a href="/surprise/winner" target="_blank">更多…</a></div>
</div>
<!-- split -->

</div>
</div>
<div id="content" class="themeContent cf">
<div class="leftcolumn">
<div class="sheet cf">
<div class="sheetbutton floatright"><a href="/page/integral_person" class="btn-addlabel-w">玩转惊喜</a></div>
<span class="sur-index">惊喜：</span>
<span><a href="/surprise/online/1" class="blackcolor">进行中</a></span>
<span class="dot"></span>
<span><a href="/surprise/future/1" >即将开始</a></span>
<span class="dot"></span>
<span><a href="/surprise/over/1" >已经结束</a></span>
</div>

<div class="surshare-mod">
<div class="sharecontainer">
<div class="sur-img">
<a href="/board/share/12368/15128/1708532" class="lk-surimg" target="_blank"><img src="http://b.imimg.cn/index/surprise/1708532.340.340.jpg" /></a>
</div>
<div class="shareprofile yahe">
<a href="/board/share/12368/15128/1708532" target="_blank">[番番家]全羊皮玖熙单鞋</a>
</div>
</div>
<div class="getcontainer">

<div class="sur-status relative png">
<span class="sur-free">免费</span><span class="sur-num"><b>1</b>件</span>
<a class="btn-get png" href="/share/1708532" target="_blank"></a>
</div>



<div class="freenum">原价：<del>&yen;248</del><br /><a href="/surprise/queue/1708532/1" target="_blank"><b>1535</b>人排队</a></div>
</div>
</div>

<div class="surshare-mod">
<div class="sharecontainer">
<div class="sur-img">
<a href="/board/share/117846/465223/1714032" class="lk-surimg" target="_blank"><img src="http://b.imimg.cn/index/surprise/1714032.340.340.jpg" /></a>
</div>
<div class="shareprofile yahe">
<a href="/board/share/117846/465223/1714032" target="_blank">[前世今生]复古纯棉短袖T恤</a>
</div>
</div>
<div class="getcontainer">

<div class="sur-status relative png">
<span class="sur-free">免费</span><span class="sur-num"><b>1</b>件</span>
<a class="btn-get png" href="/share/1714032" target="_blank"></a>
</div>



<div class="freenum">原价：<del>&yen;115</del><br /><a href="/surprise/queue/1714032/1" target="_blank"><b>1237</b>人排队</a></div>
</div>
</div>

<div class="surshare-mod">
<div class="sharecontainer">
<div class="sur-img">
<a href="/board/share/355903/2037697/3846270" class="lk-surimg" target="_blank"><img src="http://b.imimg.cn/index/surprise/3846270.340.340.jpg" /></a>
</div>
<div class="shareprofile yahe">
<a href="/board/share/355903/2037697/3846270" target="_blank">[如意美饰]太阳花蛇骨链</a>
</div>
</div>
<div class="getcontainer">

<div class="sur-status relative png">
<span class="sur-free">免费</span><span class="sur-num"><b>2</b>件</span>
<a class="btn-get png" href="/share/3846270" target="_blank"></a>
</div>



<div class="freenum">原价：<del>&yen;21</del><br /><a href="/surprise/queue/3846270/1" target="_blank"><b>1057</b>人排队</a></div>
</div>
</div>

<div class="surshare-mod">
<div class="sharecontainer">
<div class="sur-img">
<a href="/board/share/15369/2148978/3894399" class="lk-surimg" target="_blank"><img src="http://b.imimg.cn/index/surprise/3894399.340.340.jpg" /></a>
</div>
<div class="shareprofile yahe">
<a href="/board/share/15369/2148978/3894399" target="_blank">[斯波帝卡]渐变时尚T恤</a>
</div>
</div>
<div class="getcontainer">

<div class="sur-status relative png">
<span class="sur-free">免费</span><span class="sur-num"><b>1</b>件</span>
<a class="btn-get png" href="/share/3894399" target="_blank"></a>
</div>



<div class="freenum">原价：<del>&yen;109</del><br /><a href="/surprise/queue/3894399/1" target="_blank"><b>1021</b>人排队</a></div>
</div>
</div>

<div class="surshare-mod">
<div class="sharecontainer">
<div class="sur-img">
<a href="/board/share/166292/1821408/3894403" class="lk-surimg" target="_blank"><img src="http://b.imimg.cn/index/surprise/3894403.340.340.jpg" /></a>
</div>
<div class="shareprofile yahe">
<a href="/board/share/166292/1821408/3894403" target="_blank">[芬理希梦]大麦嫩芽青汁</a>
</div>
</div>
<div class="getcontainer">

<div class="sur-status relative png">
<span class="sur-free">免费</span><span class="sur-num"><b>1</b>件</span>
<a class="btn-get png" href="/share/3894403" target="_blank"></a>
</div>



<div class="freenum">原价：<del>&yen;79</del><br /><a href="/surprise/queue/3894403/1" target="_blank"><b>705</b>人排队</a></div>
</div>
</div>

<div class="surshare-mod">
<div class="sharecontainer">
<div class="sur-img">
<a href="/board/share/389529/2265676/3939073" class="lk-surimg" target="_blank"><img src="http://b.imimg.cn/index/surprise/3939073.340.340.jpg" /></a>
</div>
<div class="shareprofile yahe">
<a href="/board/share/389529/2265676/3939073" target="_blank">[AIM箱包旗舰店]牛皮钱包</a>
</div>
</div>
<div class="getcontainer">

<div class="sur-status relative png">
<span class="sur-free">免费</span><span class="sur-num"><b>1</b>件</span>
<a class="btn-get png" href="/share/3939073" target="_blank"></a>
</div>



<div class="freenum">原价：<del>&yen;198</del><br /><a href="/surprise/queue/3939073/1" target="_blank"><b>1612</b>人排队</a></div>
</div>
</div>

<div class="surshare-mod">
<div class="sharecontainer">
<div class="sur-img">
<a href="/board/share/162512/833449/3940342" class="lk-surimg" target="_blank"><img src="http://b.imimg.cn/index/surprise/3940342.340.340.jpg" /></a>
</div>
<div class="shareprofile yahe">
<a href="/board/share/162512/833449/3940342" target="_blank">[esey旗舰店]OL七分哈伦裤</a>
</div>
</div>
<div class="getcontainer">

<div class="sur-status relative png">
<span class="sur-free">免费</span><span class="sur-num"><b>1</b>件</span>
<a class="btn-get png" href="/share/3940342" target="_blank"></a>
</div>



<div class="freenum">原价：<del>&yen;149</del><br /><a href="/surprise/queue/3940342/1" target="_blank"><b>660</b>人排队</a></div>
</div>
</div>

<div class="surshare-mod">
<div class="sharecontainer">
<div class="sur-img">
<a href="/board/share/12499/15822/1433532" class="lk-surimg" target="_blank"><img src="http://b.imimg.cn/index/surprise/1433532.340.340.jpg" /></a>
</div>
<div class="shareprofile yahe">
<a href="/board/share/12499/15822/1433532" target="_blank">[帽儿胡同]经典复古系棒球帽</a>
</div>
</div>
<div class="getcontainer">

<div class="sur-status relative png">
<span class="sur-free">免费</span><span class="sur-num"><b>1</b>件</span>
<a class="btn-get png" href="/share/1433532" target="_blank"></a>
</div>



<div class="freenum">原价：<del>&yen;69</del><br /><a href="/surprise/queue/1433532/1" target="_blank"><b>690</b>人排队</a></div>
</div>
</div>

<div class="surshare-mod">
<div class="sharecontainer">
<div class="sur-img">
<a href="/board/share/1216923/6443920/4872199" class="lk-surimg" target="_blank"><img src="http://b.imimg.cn/index/surprise/4872199.340.340.jpg" /></a>
</div>
<div class="shareprofile yahe">
<a href="/board/share/1216923/6443920/4872199" target="_blank">[康乐途瘦身]芭拉芭拉透脂爽</a>
</div>
</div>
<div class="getcontainer">

<div class="sur-status relative png">
<span class="sur-free">免费</span><span class="sur-num"><b>1</b>件</span>
<a class="btn-get png" href="/share/4872199" target="_blank"></a>
</div>



<div class="freenum">原价：<del>&yen;49</del><br /><a href="/surprise/queue/4872199/1" target="_blank"><b>528</b>人排队</a></div>
</div>
</div>

<div class="surshare-mod">
<div class="sharecontainer">
<div class="sur-img">
<a href="/board/share/160769/821135/4132058" class="lk-surimg" target="_blank"><img src="http://b.imimg.cn/index/surprise/4132058.340.340.jpg" /></a>
</div>
<div class="shareprofile yahe">
<a href="/board/share/160769/821135/4132058" target="_blank">[悠闲时刻食品专营店]不倒翁鸡丝面 </a>
</div>
</div>
<div class="getcontainer">

<div class="sur-status relative png">
<span class="sur-free">免费</span><span class="sur-num"><b>1</b>件</span>
<a class="btn-get png" href="/share/4132058" target="_blank"></a>
</div>



<div class="freenum">原价：<del>&yen;7.5</del><br /><a href="/surprise/queue/4132058/1" target="_blank"><b>526</b>人排队</a></div>
</div>
</div>

<div class="surshare-mod">
<div class="sharecontainer">
<div class="sur-img">
<a href="/board/share/365507/2140737/4134181" class="lk-surimg" target="_blank"><img src="http://b.imimg.cn/index/surprise/4134181.340.340.jpg" /></a>
</div>
<div class="shareprofile yahe">
<a href="/board/share/365507/2140737/4134181" target="_blank">[丽香莉娜]欧美性感网纹袜</a>
</div>
</div>
<div class="getcontainer">

<div class="sur-status relative png">
<span class="sur-free">免费</span><span class="sur-num"><b>1</b>件</span>
<a class="btn-get png" href="/share/4134181" target="_blank"></a>
</div>



<div class="freenum">原价：<del>&yen;25.9</del><br /><a href="/surprise/queue/4134181/1" target="_blank"><b>341</b>人排队</a></div>
</div>
</div>

<div class="surshare-mod">
<div class="sharecontainer">
<div class="sur-img">
<a href="/board/share/1271508/6751546/4821103" class="lk-surimg" target="_blank"><img src="http://b.imimg.cn/index/surprise/4821103.340.340.jpg" /></a>
</div>
<div class="shareprofile yahe">
<a href="/board/share/1271508/6751546/4821103" target="_blank">[苹果皮小店]iface跑车手机壳</a>
</div>
</div>
<div class="getcontainer">

<div class="sur-status relative png">
<span class="sur-free">免费</span><span class="sur-num"><b>1</b>件</span>
<a class="btn-get png" href="/share/4821103" target="_blank"></a>
</div>



<div class="freenum">原价：<del>&yen;45</del><br /><a href="/surprise/queue/4821103/1" target="_blank"><b>513</b>人排队</a></div>
</div>
</div>

<div class="surshare-mod">
<div class="sharecontainer">
<div class="sur-img">
<a href="/board/share/1216923/6443919/4873768" class="lk-surimg" target="_blank"><img src="http://b.imimg.cn/index/surprise/4873768.340.340.jpg" /></a>
</div>
<div class="shareprofile yahe">
<a href="/board/share/1216923/6443919/4873768" target="_blank">[康乐途瘦身]美白保湿礼盒</a>
</div>
</div>
<div class="getcontainer">

<div class="sur-status relative png">
<span class="sur-free">免费</span><span class="sur-num"><b>1</b>件</span>
<a class="btn-get png" href="/share/4873768" target="_blank"></a>
</div>



<div class="freenum">原价：<del>&yen;59</del><br /><a href="/surprise/queue/4873768/1" target="_blank"><b>442</b>人排队</a></div>
</div>
</div>

<div class="surshare-mod">
<div class="sharecontainer">
<div class="sur-img">
<a href="/board/share/1287457/6838567/5076336" class="lk-surimg" target="_blank"><img src="http://b.imimg.cn/index/surprise/5076336.340.340.jpg" /></a>
</div>
<div class="shareprofile yahe">
<a href="/board/share/1287457/6838567/5076336" target="_blank">[银泰网]我的美丽日记面膜</a>
</div>
</div>
<div class="getcontainer">

<div class="sur-status relative png">
<span class="sur-free">免费</span><span class="sur-num"><b>1</b>件</span>
<a class="btn-get png" href="/share/5076336" target="_blank"></a>
</div>



<div class="freenum">原价：<del>&yen;58</del><br /><a href="/surprise/queue/5076336/1" target="_blank"><b>105</b>人排队</a></div>
</div>
</div>

<div class="surshare-mod">
<div class="sharecontainer">
<div class="sur-img">
<a href="/board/share/942568/4837855/3965416" class="lk-surimg" target="_blank"><img src="http://b.imimg.cn/index/surprise/3965416.340.340.jpg" /></a>
</div>
<div class="shareprofile yahe">
<a href="/board/share/942568/4837855/3965416" target="_blank">[甜笑小屋]白色短裤</a>
</div>
</div>
<div class="getcontainer">

<div class="sur-status relative png">
<span class="sur-free">免费</span><span class="sur-num"><b>1</b>件</span>
<a class="btn-get png" href="/share/3965416" target="_blank"></a>
</div>



<div class="freenum">原价：<del>&yen;49</del><br /><a href="/surprise/queue/3965416/1" target="_blank"><b>121</b>人排队</a></div>
</div>
</div>

</div>
<div class="rightcolumn">
<div id="lineUp" class="queue-mod">
<h2>大家在排队</h2>
<ul id="lineUpPerson" class="userlist cf">

<li style="width:200px;overflow:hidden;">
<a class="avatar" href="/profile/88656"  target="_blank" usercard="88656" havecard="1"><img width="30" height="30" src="http://b4.imimg.cn/20120214/d768/9a9a/60981552848.3.30.30.jpg" /></a>
<p class="profile" style="height:30px;width:150px;"><a class='username' href='http://www.zhimei.com/profile/88656' title='Cute丶' target='_blank' usercard='88656' havecard='1'>Cute丶</a> 通过分享获得<br/><span class='number'>惊喜码:<b>000121</b></span></p>
</li>

<li style="width:200px;overflow:hidden;">
<a class="avatar" href="/profile/88656"  target="_blank" usercard="88656" havecard="1"><img width="30" height="30" src="http://b4.imimg.cn/20120214/d768/9a9a/60981552848.3.30.30.jpg" /></a>
<p class="profile" style="height:30px;width:150px;"><a class='username' href='http://www.zhimei.com/profile/88656' title='Cute丶' target='_blank' usercard='88656' havecard='1'>Cute丶</a> 逛完商家获得<br/><span class='number'>惊喜码:<b>000120</b></span></p>
</li>

<li style="width:200px;overflow:hidden;">
<a class="avatar" href="/profile/88656"  target="_blank" usercard="88656" havecard="1"><img width="30" height="30" src="http://b4.imimg.cn/20120214/d768/9a9a/60981552848.3.30.30.jpg" /></a>
<p class="profile" style="height:30px;width:150px;"><a class='username' href='http://www.zhimei.com/profile/88656' title='Cute丶' target='_blank' usercard='88656' havecard='1'>Cute丶</a> 通过领取获得<br/><span class='number'>惊喜码:<b>000119</b></span></p>
</li>

<li style="width:200px;overflow:hidden;">
<a class="avatar" href="/profile/51691"  target="_blank" usercard="51691" havecard="1"><img width="30" height="30" src="http://b1.imimg.cn/20120626/a036/2e08/97937847551.3.30.30.jpg" /></a>
<p class="profile" style="height:30px;width:150px;"><a class='username' href='http://www.zhimei.com/profile/51691' title='dejo' target='_blank' usercard='51691' havecard='1'>dejo</a> 通过分享获得<br/><span class='number'>惊喜码:<b>000118</b></span></p>
</li>

<li style="width:200px;overflow:hidden;">
<a class="avatar" href="/profile/88656"  target="_blank" usercard="88656" havecard="1"><img width="30" height="30" src="http://b4.imimg.cn/20120214/d768/9a9a/60981552848.3.30.30.jpg" /></a>
<p class="profile" style="height:30px;width:150px;"><a class='username' href='http://www.zhimei.com/profile/88656' title='Cute丶' target='_blank' usercard='88656' havecard='1'>Cute丶</a> 通过分享获得<br/><span class='number'>惊喜码:<b>000105</b></span></p>
</li>

<li style="width:200px;overflow:hidden;">
<a class="avatar" href="/profile/51691"  target="_blank" usercard="51691" havecard="1"><img width="30" height="30" src="http://b1.imimg.cn/20120626/a036/2e08/97937847551.3.30.30.jpg" /></a>
<p class="profile" style="height:30px;width:150px;"><a class='username' href='http://www.zhimei.com/profile/51691' title='dejo' target='_blank' usercard='51691' havecard='1'>dejo</a> 逛完商家获得<br/><span class='number'>惊喜码:<b>000117</b></span></p>
</li>

<li style="width:200px;overflow:hidden;">
<a class="avatar" href="/profile/88656"  target="_blank" usercard="88656" havecard="1"><img width="30" height="30" src="http://b4.imimg.cn/20120214/d768/9a9a/60981552848.3.30.30.jpg" /></a>
<p class="profile" style="height:30px;width:150px;"><a class='username' href='http://www.zhimei.com/profile/88656' title='Cute丶' target='_blank' usercard='88656' havecard='1'>Cute丶</a> 逛完商家获得<br/><span class='number'>惊喜码:<b>000104</b></span></p>
</li>

<li style="width:200px;overflow:hidden;">
<a class="avatar" href="/profile/51691"  target="_blank" usercard="51691" havecard="1"><img width="30" height="30" src="http://b1.imimg.cn/20120626/a036/2e08/97937847551.3.30.30.jpg" /></a>
<p class="profile" style="height:30px;width:150px;"><a class='username' href='http://www.zhimei.com/profile/51691' title='dejo' target='_blank' usercard='51691' havecard='1'>dejo</a> 通过领取获得<br/><span class='number'>惊喜码:<b>000116</b></span></p>
</li>

<li style="width:200px;overflow:hidden;">
<a class="avatar" href="/profile/88656"  target="_blank" usercard="88656" havecard="1"><img width="30" height="30" src="http://b4.imimg.cn/20120214/d768/9a9a/60981552848.3.30.30.jpg" /></a>
<p class="profile" style="height:30px;width:150px;"><a class='username' href='http://www.zhimei.com/profile/88656' title='Cute丶' target='_blank' usercard='88656' havecard='1'>Cute丶</a> 通过领取获得<br/><span class='number'>惊喜码:<b>000103</b></span></p>
</li>

<li style="width:200px;overflow:hidden;">
<a class="avatar" href="/profile/1252836"  target="_blank" usercard="1252836" havecard="1"><img width="30" height="30" src="http://b1.imimg.cn/20120715/126e/acba/34637067575.3.30.30.jpg" /></a>
<p class="profile" style="height:30px;width:150px;"><a class='username' href='http://www.zhimei.com/profile/1252836' title='F那年的雪好美' target='_blank' usercard='1252836' havecard='1'>F那年的雪</a> 通过分享获得<br/><span class='number'>惊喜码:<b>000115</b></span></p>
</li>

<li style="width:200px;overflow:hidden;">
<a class="avatar" href="/profile/1252836"  target="_blank" usercard="1252836" havecard="1"><img width="30" height="30" src="http://b1.imimg.cn/20120715/126e/acba/34637067575.3.30.30.jpg" /></a>
<p class="profile" style="height:30px;width:150px;"><a class='username' href='http://www.zhimei.com/profile/1252836' title='F那年的雪好美' target='_blank' usercard='1252836' havecard='1'>F那年的雪</a> 逛完商家获得<br/><span class='number'>惊喜码:<b>000114</b></span></p>
</li>

<li style="width:200px;overflow:hidden;">
<a class="avatar" href="/profile/51691"  target="_blank" usercard="51691" havecard="1"><img width="30" height="30" src="http://b1.imimg.cn/20120626/a036/2e08/97937847551.3.30.30.jpg" /></a>
<p class="profile" style="height:30px;width:150px;"><a class='username' href='http://www.zhimei.com/profile/51691' title='dejo' target='_blank' usercard='51691' havecard='1'>dejo</a> 通过分享获得<br/><span class='number'>惊喜码:<b>000102</b></span></p>
</li>

<li style="width:200px;overflow:hidden;">
<a class="avatar" href="/profile/51691"  target="_blank" usercard="51691" havecard="1"><img width="30" height="30" src="http://b1.imimg.cn/20120626/a036/2e08/97937847551.3.30.30.jpg" /></a>
<p class="profile" style="height:30px;width:150px;"><a class='username' href='http://www.zhimei.com/profile/51691' title='dejo' target='_blank' usercard='51691' havecard='1'>dejo</a> 逛完商家获得<br/><span class='number'>惊喜码:<b>000101</b></span></p>
</li>

<li style="width:200px;overflow:hidden;">
<a class="avatar" href="/profile/1252836"  target="_blank" usercard="1252836" havecard="1"><img width="30" height="30" src="http://b1.imimg.cn/20120715/126e/acba/34637067575.3.30.30.jpg" /></a>
<p class="profile" style="height:30px;width:150px;"><a class='username' href='http://www.zhimei.com/profile/1252836' title='F那年的雪好美' target='_blank' usercard='1252836' havecard='1'>F那年的雪</a> 通过领取获得<br/><span class='number'>惊喜码:<b>000113</b></span></p>
</li>

<li style="width:200px;overflow:hidden;">
<a class="avatar" href="/profile/51691"  target="_blank" usercard="51691" havecard="1"><img width="30" height="30" src="http://b1.imimg.cn/20120626/a036/2e08/97937847551.3.30.30.jpg" /></a>
<p class="profile" style="height:30px;width:150px;"><a class='username' href='http://www.zhimei.com/profile/51691' title='dejo' target='_blank' usercard='51691' havecard='1'>dejo</a> 通过领取获得<br/><span class='number'>惊喜码:<b>000100</b></span></p>
</li>

<li style="width:200px;overflow:hidden;">
<a class="avatar" href="/profile/1252836"  target="_blank" usercard="1252836" havecard="1"><img width="30" height="30" src="http://b1.imimg.cn/20120715/126e/acba/34637067575.3.30.30.jpg" /></a>
<p class="profile" style="height:30px;width:150px;"><a class='username' href='http://www.zhimei.com/profile/1252836' title='F那年的雪好美' target='_blank' usercard='1252836' havecard='1'>F那年的雪</a> 通过分享获得<br/><span class='number'>惊喜码:<b>000528</b></span></p>
</li>

<li style="width:200px;overflow:hidden;">
<a class="avatar" href="/profile/1252836"  target="_blank" usercard="1252836" havecard="1"><img width="30" height="30" src="http://b1.imimg.cn/20120715/126e/acba/34637067575.3.30.30.jpg" /></a>
<p class="profile" style="height:30px;width:150px;"><a class='username' href='http://www.zhimei.com/profile/1252836' title='F那年的雪好美' target='_blank' usercard='1252836' havecard='1'>F那年的雪</a> 逛完商家获得<br/><span class='number'>惊喜码:<b>000527</b></span></p>
</li>

<li style="width:200px;overflow:hidden;">
<a class="avatar" href="/profile/1252836"  target="_blank" usercard="1252836" havecard="1"><img width="30" height="30" src="http://b1.imimg.cn/20120715/126e/acba/34637067575.3.30.30.jpg" /></a>
<p class="profile" style="height:30px;width:150px;"><a class='username' href='http://www.zhimei.com/profile/1252836' title='F那年的雪好美' target='_blank' usercard='1252836' havecard='1'>F那年的雪</a> 通过领取获得<br/><span class='number'>惊喜码:<b>000526</b></span></p>
</li>

<li style="width:200px;overflow:hidden;">
<a class="avatar" href="/profile/1252836"  target="_blank" usercard="1252836" havecard="1"><img width="30" height="30" src="http://b1.imimg.cn/20120715/126e/acba/34637067575.3.30.30.jpg" /></a>
<p class="profile" style="height:30px;width:150px;"><a class='username' href='http://www.zhimei.com/profile/1252836' title='F那年的雪好美' target='_blank' usercard='1252836' havecard='1'>F那年的雪</a> 通过分享获得<br/><span class='number'>惊喜码:<b>001612</b></span></p>
</li>

<li style="width:200px;overflow:hidden;">
<a class="avatar" href="/profile/1252836"  target="_blank" usercard="1252836" havecard="1"><img width="30" height="30" src="http://b1.imimg.cn/20120715/126e/acba/34637067575.3.30.30.jpg" /></a>
<p class="profile" style="height:30px;width:150px;"><a class='username' href='http://www.zhimei.com/profile/1252836' title='F那年的雪好美' target='_blank' usercard='1252836' havecard='1'>F那年的雪</a> 逛完商家获得<br/><span class='number'>惊喜码:<b>001611</b></span></p>
</li>

<li style="width:200px;overflow:hidden;">
<a class="avatar" href="/profile/1252836"  target="_blank" usercard="1252836" havecard="1"><img width="30" height="30" src="http://b1.imimg.cn/20120715/126e/acba/34637067575.3.30.30.jpg" /></a>
<p class="profile" style="height:30px;width:150px;"><a class='username' href='http://www.zhimei.com/profile/1252836' title='F那年的雪好美' target='_blank' usercard='1252836' havecard='1'>F那年的雪</a> 通过领取获得<br/><span class='number'>惊喜码:<b>001610</b></span></p>
</li>

<li style="width:200px;overflow:hidden;">
<a class="avatar" href="/profile/1252836"  target="_blank" usercard="1252836" havecard="1"><img width="30" height="30" src="http://b1.imimg.cn/20120715/126e/acba/34637067575.3.30.30.jpg" /></a>
<p class="profile" style="height:30px;width:150px;"><a class='username' href='http://www.zhimei.com/profile/1252836' title='F那年的雪好美' target='_blank' usercard='1252836' havecard='1'>F那年的雪</a> 通过分享获得<br/><span class='number'>惊喜码:<b>000705</b></span></p>
</li>

<li style="width:200px;overflow:hidden;">
<a class="avatar" href="/profile/1252836"  target="_blank" usercard="1252836" havecard="1"><img width="30" height="30" src="http://b1.imimg.cn/20120715/126e/acba/34637067575.3.30.30.jpg" /></a>
<p class="profile" style="height:30px;width:150px;"><a class='username' href='http://www.zhimei.com/profile/1252836' title='F那年的雪好美' target='_blank' usercard='1252836' havecard='1'>F那年的雪</a> 逛完商家获得<br/><span class='number'>惊喜码:<b>000704</b></span></p>
</li>

<li style="width:200px;overflow:hidden;">
<a class="avatar" href="/profile/1252836"  target="_blank" usercard="1252836" havecard="1"><img width="30" height="30" src="http://b1.imimg.cn/20120715/126e/acba/34637067575.3.30.30.jpg" /></a>
<p class="profile" style="height:30px;width:150px;"><a class='username' href='http://www.zhimei.com/profile/1252836' title='F那年的雪好美' target='_blank' usercard='1252836' havecard='1'>F那年的雪</a> 通过领取获得<br/><span class='number'>惊喜码:<b>000703</b></span></p>
</li>

<li style="width:200px;overflow:hidden;">
<a class="avatar" href="/profile/1252836"  target="_blank" usercard="1252836" havecard="1"><img width="30" height="30" src="http://b1.imimg.cn/20120715/126e/acba/34637067575.3.30.30.jpg" /></a>
<p class="profile" style="height:30px;width:150px;"><a class='username' href='http://www.zhimei.com/profile/1252836' title='F那年的雪好美' target='_blank' usercard='1252836' havecard='1'>F那年的雪</a> 通过分享获得<br/><span class='number'>惊喜码:<b>001535</b></span></p>
</li>
	
</ul>
<div class="more"><a href="/surprise/queue" target="_blank">更多…</a></div>
</div>
<!-- 
<div class="queue-mod contactbd">
<h2>联系我们</h2>
<ul class="bdlist cf">
<li>
<span class="iconbg fqq-ico"></span>商务小真：50498447
</li>
<li>
<span class="iconbg mqq-ico"></span>商务小妍：1738589407
</li>
<li>
<span class="iconbg mqq-ico"></span>获奖查询： 81994417(群)
</li>
<li>
<span class="iconbg wangwang-ico"></span>阿里旺旺：课件交流系统bd
</li>
<li>
<span class="iconbg greenphone-ico"></span>电话：010-83182588-8314
</li>
<li>
工作时间：周一至周五10:30-19:00
</li>
</ul>
</div>
-->
</div>

</div>
</div>
<script type="text/javascript">
<% content_for :butt2 do %>
$(function(){
$('#zm-surqa').hover(function(){
$(this).find('span').show();
},function(){
$(this).find('span').hide();
})
setInterval(function(){
var lastObj = $("#lineUpPerson li").last().html();
$("<li style='width:193px;overflow:hidden;opacity:0;'>"+lastObj+"</li>").prependTo($("#lineUpPerson").first()).hide().show("slow");
$("#lineUpPerson li").last().remove();
$("#lineUpPerson li").first().animate({opacity:100},3000);
},3000);
})
<% end %>
</script>


</div>

<%= render file:'/application/footers/_zm_footer' %>
