
<section id="buttons">
  <div class="page-header">
    <h1>相关链接</h1>
  </div>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>名称</th>
        <th>介绍</th>
        <th>地址</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><button class="btn" href="http://wendao.zhaopin.com">问道</button></td>
        <td>这是普通用户访问问道的地址，即问道主站。</td>
        <td><a href="http://wendao.zhaopin.com">http://wendao.zhaopin.com</a></td>
      </tr>
      <tr>
        <td><button class="btn btn-primary" href="http://api.zhaopin.com">问道API</button></td>
        <td>这是API用户访问问道的入口。</td>
        <td><a href="http://api.zhaopin.com">http://api.zhaopin.com</a></td>
      </tr>
      <tr>
        <td><button class="btn btn-info" href="http://api.zhaopin.com/apidoc">问道API文档</button></td>
        <td>此文档面向第三方应用程序开发者以及第三方库的开发者，详细记录了问道API的使用方法。</td>
        <td><a href="http://api.zhaopin.com/apidoc">http://api.zhaopin.com/apidoc</a></td>
      </tr>
      <tr>
        <td><button class="btn btn-success" href="http://api.zhaopin.com/cpanel">问道API第三方应用程序管理</button></td>
        <td>面向第三方应用程序开发者，在此获得和管理访问问道API的客户端ID和密钥。</td>
        <td><a href="http://api.zhaopin.com/cpanel">http://api.zhaopin.com/cpanel</a></td>
      </tr>
      <tr>
        <td><button class="btn btn-warning" href="http://rubygems.org/gems/wendao">Ruby客户端库</button></td>
        <td>用Ruby实现的一个问道API客户端库</td>
        <td><a href="http://rubygems.org/gems/wendao">http://rubygems.org/gems/wendao</a></td>
      </tr>
    </tbody>
  </table>
</section>
  