.clearfix { 
	clear:both;
} 

/* 
* html>body .clearfix { 
display: inline-block; 
width: 100%; 
clear:both;
} 

* html .clearfix { 
height: 1%; 
} 

*+html .clearfix { 
min-height: 1% ; 
} 
*/ 


/* 通用HEADER，菜单弹出，黑色分割线 */
.userInfoPop li.blackline {
    font-size:0;
	line-height:0;
	overflow:hidden;
	zoom:0.03;
	margin-top:-2px;
}

/* 通用HEADER，用户名后跟绿色三角 */
#header .arrowDown {
	margin-bottom:6px;
}
