<div data-role="content">

    <ul data-role="listview" class="asksList">
        <li><a href="ask.html">
                <img src="/mobilepublic/img/t1.png" />
                <h3>题题题题题题题题题题题题题题题题题题题题题题题题题题</h3>
                <p>大笨蛋出的题大笨蛋出的题大笨蛋出的题大笨蛋出的题大笨蛋出的题大笨蛋出的题大笨蛋出的题出的题大笨蛋出的题大笨蛋出的题 @ 2个答案</p>
            </a></li>
        <li><a href="index.html">
                <img src="/mobilepublic/img/t1.png" />
                <h3>题题</h3>
                <p>大笨蛋出的题 @ 2个答案</p>
            </a></li>
        <li><a href="index.html">
                <img src="/mobilepublic/img/t1.png" />
                <h3>题题</h3>
                <p>大笨蛋出的题 @ 2个答案</p>
            </a></li>
        <li><a href="index.html">
                <img src="/mobilepublic/img/t1.png" />
                <h3>题题</h3>
                <p>大笨蛋出的题 @ 2个答案</p>
            </a></li>
        <li><a href="index.html">
                <img src="/mobilepublic/img/t1.png" />
                <h3>题题</h3>
                <p>大笨蛋出的题 @ 2个答案</p>
            </a></li>
    </ul>
</div>
